<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gene.information.dao.PaperDao">
	<select id="getAllProduct" resultType="com.gene.information.domain.ProductDO">
		 select id,code,url,name,description,create_by,create_time,remark from biz_product where del_flag='0'
	</select>
	
	<select id="getProductByProductId" resultType="com.gene.information.domain.ProductDO">
		 select id,paper_id,code,url,name,description,create_by,create_time,remark from biz_product where id=#{value}
	</select>
	
	<insert id="saveProductPaperDO" parameterType="com.gene.information.domain.ProductpaperDO" useGeneratedKeys="true" keyProperty="id">
		insert into qu_product_paper
		(
  			paper,
  			product,
  			user,
  			status,
  			answer_time,
  			remark,
  			openid
		)values(
			#{paper},
  			#{product},
  			#{user},
  			#{status},
  			#{answerTime},
  			#{remark},
  			#{openid}
		)
	</insert>
	
	<insert id="saveCustomerPaperDO" parameterType="com.gene.information.domain.CustomerPaperDO" useGeneratedKeys="true" keyProperty="id">
		insert into biz_customer_paper(
			username,
			high,
			weight,
			openid,
			age,
			sex,
  			create_time,
  			product_id
		)
		values(
			#{username},
			#{high},
			#{weight},
			#{openid},
			#{age},
			#{sex},
			#{createTime},
			#{productId}
		)
	</insert>
	
	<update id="updateCustomerPaperDO" parameterType="com.gene.information.domain.CustomerPaperDO">
		update biz_customer_paper set high=#{high},sex=#{sex},bmi=#{bmi},weight=#{weight},age=#{age},phone=#{phone},email=#{email}
  		where id=#{id}
	</update>
	
	<insert id="saveAnswerDO" parameterType="com.gene.information.domain.AnswerDO">
		insert into biz_answer
		(
			customer_paper_id,
			choice_id,
  			question_id,
  			productpaper,
  			score,
  			fenlei,
  			tiankonganswer
  		)
  		values(
  			#{customerPaperId},
  			#{choiceId},
  			#{questionId},
  			#{productpaper},
  			#{score},
  			#{fenlei},
  			#{tiankonganswer}
  		)
	</insert>
	
	<select id="listProductPaperDOByOpenIdAndProduct" resultType="com.gene.information.domain.ProductpaperDO">
	  select id,paper,product,user,status,answer_time,remark,openid from qu_product_paper
	  where product=#{product} and openid =#{openid} and answer_status=1 order by id desc; 
	
	</select>
	
	<resultMap type="com.gene.information.domain.QuestionDO" id="paperMap">
		 
         	 <id column="nid" property="id"/>
         	 <result column="nifStop" property="ifStop"/>
             <result column="npaperId" property="paperId"/>
             <result column="ncategory" property="category"/>
             <result column="ncontent" property="content"/>
             <result column="ntype" property="type"/>
             <result column="nsort" property="sort"/>
             <result column="nrequired" property="required"/>
             <result column="ncreateBy" property="createBy"/>
             <result column="ncreateTime" property="createTime"/>
             <result column="nupdateBy" property="updateBy"/>
             <result column="nupdateTime" property="updateTime"/>
             <result column="nupdateTime" property="updateTime"/>
             <result column="nimg" property="img"/>
             <result column="ncontenw" property="contenw"/>
             <collection property="choiceList" ofType="com.gene.information.domain.ChoiceDO">
             	<id column="cid" property="id"/>
         		<result column="ccontent" property="content"/>
         		<result column="ccreateBy" property="createBy"/>
         		<result column="ccreateTime" property="createTime"/>
         		<result column="cupdateBy" property="updateBy"/>
         		<result column="cupdateTime" property="updateTime"/>
         		<result column="cremark" property="remark"/>
         		<collection property="choiceProductList" ofType="com.gene.information.domain.ChoiceProductDO">
         			<id column="tid" property="id"/>
         			<result column="tscore" property="score"/>
         			<result column="tchoose" property="choose"/>
         			<result column="ttadf" property="tadf"/>
         			<result column="tproduct" property="product"/>
         			<result column="tproductName" property="productName"/>
       				<result column="ttads" property="tads"/>
         			<result column="ttadreason" property="tadreason"/>
        			<result column="ttadjianyi" property="tadjianyi"/>
         			<result column="tbmi" property="bmi"/>
         			<result column="tbmis" property="bmis"/>
         			<result column="tscores" property="scores"/>
        			<result column="ttadfs" property="tadfs"/>
        		 	<result column="ttadss" property="tadss"/>
        		 	<result column="ttadreasons" property="tadreasons"/>
         			<result column="ttadjianyis" property="tadjianyis"/>
         		</collection>
             </collection>
       
	</resultMap>
	
	
	
	<!-- 查询有效的答题 -->
	<select id="getProductpaperDOByOpenId" resultType="com.gene.information.domain.ProductpaperDO">
	
	 select id,paper,product,user,status,answer_time,remark,openid from qu_product_paper
	  where openid =#{openid} and answer_status=0 order by id desc;
	
	</select>
	
	
	<select id="getLatestCustomerPaperDO" resultType="com.gene.information.domain.CustomerPaperDO">
	
	   select * from  biz_customer_paper where  openid =#{openid} and product_id=#{product} order by id desc limit 1;
	</select>
	
	
	
	
	
	<select id="getQuestionDOType" resultMap="paperMap"> 
	


	SELECT
	n.id nid,
	n.category ncategory,
	n.content ncontent,
	n.type ntype,
	n.sort nsort,
	n.required nrequired,
	n.create_by ncreateBy,
	n.create_time ncreateTime,
	n.update_by nupdateBy,
	n.update_time nupdateTime,
	n.remark nremark,
	n.img nimg,
	n.contenw ncontenw,
	n.if_stop nifStop,
	n.paper_id npaperId,
 	c.id cid,
	c.content ccontent,
	
	c.create_by ccreateBy,
	c.create_time ccreateTime,
	c.update_by cupdateBy,
	c.update_time cupdateTime,
	c.remark cremark,
	t.id tid,
	t.product tproduct,
	t.score tscore,
	t.tadf ttadf,
	t.tads ttads,
	t.tadreason ttadreason,
	t.tadjianyi ttadjianyi,
	t.bmi tbmi,
	t.bmis tbmis,
	t.scores tscores,
	t.product_name tproductName,
	t.tadfs ttadfs,
	t.tadss ttadss,
	t.tadreasons ttadreasons,
	t.tadjianyis ttadjianyis,
	t.choose tchoose
FROM
 (select * from qu_question   where category=#{flag} and paper_id=(SELECT paper_id FROM biz_product WHERE id=#{product})) n
 JOIN qu_choice c ON n.id = c.question
 JOIN (SELECT * FROM qu_choice_product WHERE PRODUCT=#{product}  
 
 
 <if test="flag != 'JIBEN_XINXI'">and score is not null </if>
 ) t on t.choose=c.id
 	
 	
 	
	</select>
	
	<select id="getProductpaperDO" resultType="com.gene.information.domain.ProductpaperDO">
		select  id,paper,product,user,status,answer_time,remark from qu_product_paper where id=#{value}
	</select>
	
	<select id="getChoiceProductDO" resultType="com.gene.information.domain.ChoiceProductDO">
		select choose,product,score,scores from qu_choice_product where product=#{product} and choose=#{choiceId}
	</select>
	
	<select id="listProductPaperDO" resultType="com.gene.information.domain.ProductpaperDO" parameterType="com.gene.information.domain.ProductpaperDO">
		select  id,paper,product,user,status,answer_time,remark from qu_product_paper where user=#{user} and product=#{product}
	</select>
	
	<select id="getProductPaperDO2" resultType="com.gene.information.domain.ProductpaperDO">
		select  id,paper,product,user,status,answer_time,remark from qu_product_paper where user=#{user} and product=#{product}
		
	</select>
	
	<select id="getProductPaperDObyOpenid" resultType="com.gene.information.domain.ProductpaperDO">
		select  * from qu_product_paper where openid=#{openid} and product=#{product} and answer_status=1 order by id desc limit 1
		
	</select>
	
	
	<resultMap type="com.gene.information.domain.QuestionDO" id="questionMap">
		 	 <id column="qpid" property="id"/>
         	 <result column="qpcontent" property="content"/>
             <result column="qpcategory" property="category"/>
             <result column="qpimg" property="img"/>
             <result column="qpifStop" property="ifStop"/>
             <collection property="choiceProductDOList" ofType="com.gene.information.domain.ChoiceProductDO">
             	<id column="qid" property="id"/>
             	<result column="choicecontent" property="choicecontent"/>
         		<result column="qscore" property="score"/>
         		<result column="qtadf" property="tadf"/>
         		<result column="qtads" property="tads"/>
         		<result column="qtadreason" property="tadreason"/>
         		<result column="qtadjianyi" property="tadjianyi"/>
         		<result column="qbmi" property="bmi"/>
         		<result column="qbmis" property="bmis"/>
         		<result column="qscores" property="scores"/>
         		<result column="qtadfs" property="tadfs"/>
         		<result column="qtadss" property="tadss"/>
         		<result column="qtadreasons" property="tadreasons"/>
         		<result column="qtadjianyis" property="tadjianyis"/>
		  </collection>
	</resultMap>
	
	
	<select id="getQuestionDOList" resultMap="questionMap">
				SELECT
			q.id qid,
			q.score qscore,
			q.tadf qtadf,
			q.tads qtads,
			q.tadreason qtadreason,
			q.tadjianyi qtadjianyi,
			q.bmi qbmi,
			q.bmis qbmis,
			q.scores qscores,
			q.tadfs qtadfs,
			q.tadss qtadss,
			q.tadreasons qtadreasons,
			q.tadjianyis qtadjianyis,
			qc.content choicecontent,
			qp.id qpid,
			qp.content qpcontent,
			qp.category qpcategory,
			qp.img qpimg,
			qp.if_stop qpifStop
		FROM
			qu_question qp,
			biz_answer b,
			qu_choice_product q,
			qu_product_paper p,
			qu_choice qc
		WHERE
			q.choose = b.choice_id
		AND q.product = p.product
		AND b.productpaper = p.id
		AND q.choose=qc.id
		AND qp.id = b.question_id
		AND b.fenlei = #{fenlei}  and p.id=#{productpaper}
	</select>
	
	<select id="getChoicedScores" resultType="int">
		select sum(score) from biz_answer where productpaper=#{productpaper} and fenlei=#{fenlei}
	</select>
	
	
	
	<select id="getAllChoicedScores" resultType="int">
				SELECT
			sum(ifnull(qp.score,0))
		FROM
			qu_question qq,
			qu_choice qc,
			qu_choice_product qp
		WHERE
			qq.id = qc.question
		AND qc.id = qp.choose
		AND qp.product = #{product}
		AND qq.category = #{fenlei}
		AND qq.paper_id = (
			SELECT DISTINCT
				customer_paper_id
			FROM
				biz_answer
			WHERE
				productpaper = #{productpaper})

		
	</select>
	
	<select id="countPaperQuestion" resultType="int">
		select count(1) from qu_question where paper_id=#{value}
	</select>
	
	<update id="updateproductpaperDOStstus">
		update qu_product_paper set answer_status=1 where id=#{value}
	</update>
	
	<select id="getSingleJiBenXinxi" resultType="float">
					SELECT
				b.tiankonganswer
			FROM
				biz_answer b,
				qu_question q,
				qu_product_paper qp
			WHERE
				b.question_id = q.id
			AND b.productpaper = qp.id
			AND qp.product = #{product}
			AND qp.USER = #{user}
			AND q.content like concat('%', #{string},'%')
	</select>
	
	<select id="getChoosedContent" resultType="string">
					select c.content from biz_answer b,qu_question q,qu_choice c,qu_product_paper qp
			where b.question_id=q.id and q.contenw like concat('%', #{string},'%')
			
			AND b.choice_id = c.id
			AND b.productpaper = qp.id
			AND qp.product = #{product} AND qp.openid=#{openid} and qp.answer_status =1 ORDER BY qp.id desc limit 1 
	</select>
	
	<select id="getQuestionByProduct" resultType="com.gene.information.domain.QuestionDO">
					SELECT
				*
			FROM
				qu_question q,
				biz_product b
			WHERE
				q.category = #{flag}
			AND q.paper_id = b.paper_id
			AND b.id = #{product}
	</select>
	
	<select id="getProductDO" resultType="com.gene.information.domain.ProductpaperDO">
		select * from qu_product_paper where id=#{value}
	</select>
	
	<select id="getNewProductpaperDO" resultType="com.gene.information.domain.ProductpaperDO">
		select  id,paper,product,user  from qu_product_paper  where  answer_time=(select max(answer_time) from qu_product_paper where product=#{product} and openid=#{openid}
		and answer_status=1) and product=#{product} and openid=#{openid}
	</select>
</mapper>