<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
					<input id="id" name="id" th:value="${id}" type="hidden">
					<div>基本信息</div>
						<div style="width: 100%; height: 200px;  "
						align="center" id="jiben">
						<!-- <table class="table table-bordered">
							<thead>
								<tr>
									<th>姓名</th>
									<th>性别</th>
									<th>年龄</th>
									<th>联系方式</th>
								</tr>
							</thead>
							<tbody>
								<label th:each="cp:${customerPaper}" class="checkbox-inline">
									<tr>
										<td th:text="${cp.username}"></td>
										<td th:text="${cp.sex}"  class="sex"></td>
										<td th:text="${cp.age}"></td>
										<td th:text="${cp.phone}"></td>
										
									</tr>
								
								</label>	
							</tbody>
						</table> -->
					</div> 
					<div>身体状况</div>
					<div>&nbsp;</div>
					<div style="width: 100%; height: 300px; overflow: scroll;"
						align="center">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>题目</th>
									<th>答案</th>
								</tr>
							</thead>
							<tbody>
								<label th:each="qd:${questionDetails}" class="checkbox-inline">
									<tr th:if ="${qd.category eq 'SHENTI_ZHUANG'}">
										<td th:text="${qd.questionContent}"></td>
										<td th:text="${qd.choiceContent}"></td>
									</tr>
								
								</label>	
							</tbody>
						</table>
					</div> 
					<div>&nbsp;</div>
					<div>饮食习惯</div>
					<div>&nbsp;</div>
					<div style="width: 100%; height: 300px; overflow: scroll;"
						align="center">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>题目</th>
									<th>答案</th>
								</tr>
							</thead>
							<tbody>
								<label th:each="qd:${questionDetails}" class="checkbox-inline">
									<tr th:if ="${qd.category eq 'SHANSHI_XIGUAN'}">
										<td th:text="${qd.questionContent}"></td>
										<td th:text="${qd.choiceContent}"></td>
									</tr>
								
								</label>	
							</tbody>
						</table>
					</div> 
					<div>&nbsp;</div>
					<div>生活习惯</div>
					<div>&nbsp;</div>
					<div style="width: 100%; height: 300px; overflow: scroll;"
						align="center">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>题目</th>
									<th>答案</th>
								</tr>
							</thead>
							<tbody>
								<label th:each="qd:${questionDetails}" class="checkbox-inline">
									<tr th:if ="${qd.category eq 'SHENGHUO_FANGSHI'}">
										<td th:text="${qd.questionContent}"></td>
										<td th:text="${qd.choiceContent}"></td>
									</tr>
								
								</label>	
							</tbody>
						</table>
					</div> 
					<div>&nbsp;</div>
					<div>睡眠习惯</div>
					<div>&nbsp;</div>
					<div style="width: 100%; height: 300px; overflow: scroll;"
						align="center">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>题目</th>
									<th>答案</th>
								</tr>
							</thead>
							<tbody>
								<label th:each="qd:${questionDetails}" class="checkbox-inline">
									<tr th:if ="${qd.category eq 'SHUIMIAN_XIGUAN'}">
										<td th:text="${qd.questionContent}"></td>
										<td th:text="${qd.choiceContent}"></td>
									</tr>
								
								</label>	
							</tbody>
						</table>
					</div> 
					<div>&nbsp;</div>
					<div>运动习惯</div>
					<div>&nbsp;</div>
					<div style="width: 100%; height: 300px; overflow: scroll;"
						align="center">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>题目</th>
									<th>答案</th>
								</tr>
							</thead>
							<tbody>
								<label th:each="qd:${questionDetails}" class="checkbox-inline">
									<tr th:if ="${qd.category eq 'YUNDONG_XIGUANG'}">
										<td th:text="${qd.questionContent}"></td>
										<td th:text="${qd.choiceContent}"></td>
									</tr>
								
								</label>	
							</tbody>
						</table>
					</div> 
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript">		
	var id = $("input[name='id']").val();
	$.ajax({
		cache : true,
		type : "get",
		url : "/information/customerPaper/useredit/"+id,
		async : false,
		error : function(request) {
			parent.layer.alert("Connection error");
		},
		success : function(data) {
			var html = "";	
                	html += '<table class="table table-bordered">'
        			html += '<thead>'
        	    	html += '	<tr>'
        	    for (var i = 0; i<(Object.keys(data[0])).length; i++) {
        	                var key = (Object.keys(data[0]))[i];
        	        html += '		<th>'+key+'</th>'
        	    }
        			html += '		</tr>'
        			html += '	</thead>'
        			html += '	<tbody>'
        			html += '		<label class="checkbox-inline">'
        			html += '			<tr>'
        		for (var i = 0; i<(Object.keys(data[0])).length; i++) {
        	                var values = (Object.values(data[0]))[i];
        	         if(values==null){
        	        	 html += '	<td></td>'
        	         }else{
        	        	 html += '	<td>'+values+'</td>'
        	         }
        	    }
        			html += '			</tr>'
        			html += '		</label>'
        			html += '	</tbody>'
        			html += '</table>'
            
			$('#jiben').html(html);
			

		}
	});
	
	
	
/* 	
		$(document).ready( function () {
		    $(".sex").each(function(i,item){
		        var text = $(this).text();
		        if(text == "1"){
		            $(this).text("男")
		        }else if(text == "2"){
		            $(this).text("女");
		        }
		    })
		}) */
	</script>
</body>
</html>
