<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="../css/css.css" type="text/css">
<title>检测报告</title>
<script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../js/Font.js"></script>
</head>
<body class="bg-cc" style="padding:.4rem .54rem;">
	
	<div class="cdxzBox">
		<div class="ztai center">
			<img src="../images/shoushenXX.png" alt=""/>
			<p>您的体型现状</p>
			<div class="txXZ space">偏 瘦</div>
		</div>
		<div class="SStxt center">
			<p>身高（cm）：<em>160</em></p>
			<p>体重（kg）：<em>65</em></p>
			<p>BMI（体重/身高²）：<em>25.4</em></p>
			<p>腰部：<em>少量赘肉</em></p>
			<p><img src="../images/tixing1.png" alt=""/></p>
		</div>
		<div class="fenbuTu">
			<img src="../images/fenbutu.png" alt=""/>
			<span class="jiedian1"></span>
			<span class="jiedian2"></span>
			<span class="jiedian3"></span>
			<span class="jiedian4"></span>
			<div class="fenbuRed fenbu4"><!--默认是1--></div>
		</div>
		
		<div class="sideMenu">
			<div class="jbs">
				<div class="center">
					<img src="../images/henhao.png" alt=""/>
					<p class="p2">饮食与生活习惯得分</p>
					<p class="p3"><span>65</span>分（一般）</p>
				</div>
				<p class="zhanbi space center">肠道问题成因占比</p>
				<ul class="zhanbi-lt center">
					<li>膳食习惯<em>53.3</em>%</li>
					<li>生活方式<em>6.7</em>%</li>
					<li>睡眠与压力<em>13.3</em>%</li>
					<li>运动习惯<em>26.7</em>%</li>
				</ul>
				<p class="txt">肠道的现状除了和基因、自身体质有关外，很大程度上还取决于饮食与生活习惯。接下来是健康专家团队为您量身定制的个性化方案，包括饮食、习惯、作息、运动、情绪压力、营养补充剂等方面。</p>
			</div>	
			<!--====膳食习惯====-->
			<div class="shanshi space center">膳食习惯</div>
			<!--新鲜蔬菜摄入量-->
			<dt class="list_dt">
				<span class="fl"><img src="../images/bao-sc.png" alt=""/>新鲜蔬菜摄入量</span>
				<span class="fr">需增加</span>
				<i class="list_dt_icon"></i>
			</dt>
			<dd class="list_dd">
				<!--此处写新鲜蔬菜摄入量内容-->
			</dd>
			<!--饮水量-->
			<dt class="list_dt">
				<span class="fl"><img src="../images/bao-ys.png" alt=""/>饮水量</span>
				<span class="fr">需增加</span>
				<i class="list_dt_icon"></i>
			</dt>
			<dd class="list_dd">
				<!--此处写饮水量内容-->
			</dd>
			<!--主食摄入量-->
			<dt class="list_dt">
				<span class="fl"><img src="../images/yinshi.png" alt="">主食摄入量</span>
				<span class="fr">需减少</span>
				<i class="list_dt_icon"></i>
			</dt>
			<dd class="list_dd">
				<table border="1" cellspacing="0" cellpadding="0">
				  <tbody>
					<tr>
					  <td class="rLine" width="30%">您的情况</td>
					  <td width="70%">平均大于3拳头/天</td>
					</tr>
					<tr>
					  <td class="rLine">调整方向</td>
					  <td>平均小于3拳/天 x 1-3<br/>其中30%是粗粮<br/>注意藕、土豆、玉米、山药、芋头都是主食</td>
					</tr>
					<tr>
					  <td class="rLine">调整原因</td>
					  <td class="smlh">过多主食会导致肥胖，肥胖与肠道菌群失调息息相关，从而增加肠道问题的风险。</td>
					</tr>
					<tr>
					  <td class="rLine">营养补充剂建议</td>
					  <td>建议常备：<br/>1. 益生菌 <br/>帮助消耗掉过多主食带来的碳水化合物<br/>2. 白芸豆提取物<br/>可阻断碳水化合物吸收。</td>
					</tr>
				  </tbody>
				</table>
			</dd>
			<!--粗粮摄入量-->
			<dt class="list_dt">
				<span class="fl"><img src="../images/bao-ys.png" alt=""/>粗粮摄入量</span>
				<span class="fr">需增加</span>
				<i class="list_dt_icon"></i>
			</dt>
			<dd class="list_dd">
				<!--此处写粗粮摄入量内容-->
			</dd>
			<!--新鲜水果摄入量-->
			<dt class="list_dt">
				<span class="fl"><img src="../images/yinshi.png" alt=""/>新鲜水果摄入量</span>
				<span class="fr bgn">请保持</span>
				<i class="list_dt_icon bgn_bg"></i>
			</dt>
			<dd class="list_dd">
				<!--此处写新鲜水果摄入量内容-->
			</dd>
			<!--畜禽肉、蛋、水产、豆制品摄入量-->
			<dt class="list_dt">
				<span class="fl"><img src="../images/bao-dz.png" alt=""/><span>畜禽肉、蛋、水产、豆制品摄入量</span></span>
				<span class="fr">需减少</span>
				<i class="list_dt_icon"></i>
			</dt>
			<dd class="list_dd">
				<!--此处写畜禽肉、蛋、水产、豆制品摄入量内容-->
			</dd>
			<!--豆类及豆制品摄取频率-->
			<dt class="list_dt">
				<span class="fl"><img src="../images/bao-dl.png" alt=""/><span>豆类及豆制品摄取频率</span></span>
				<span class="fr">需增加</span>
				<i class="list_dt_icon"></i>
			</dt>
			<dd class="list_dd">
				<!--此处写豆类及豆制品摄取频率内容-->
			</dd>
			<!--坚果类摄取量-->
			<dt class="list_dt">
				<span class="fl"><img src="../images/bao-jg.png" alt=""/>坚果类摄取量</span>
				<span class="fr">需增加</span>
				<i class="list_dt_icon"></i>
			</dt>
			<dd class="list_dd">
				<!--此处写坚果类摄取量内容-->
			</dd>
			<!--乳制品摄入量-->
			<dt class="list_dt">
				<span class="fl"><img src="../images/bao-rz.png" alt=""/>乳制品摄入量</span>
				<span class="fr">需增加</span>
				<i class="list_dt_icon"></i>
			</dt>
			<dd class="list_dd">
				<!--此处写乳制品摄入量内容-->
			</dd>
			<!--吃的咸不咸？-->
			<dt class="list_dt">
				<span class="fl"><img src="../images/bao-yan.png" alt=""/>吃的咸不咸？</span>
				<span class="fr">需改善</span>
				<i class="list_dt_icon"></i>
			</dt>
			<dd class="list_dd">
				<!--此处写吃的咸不咸？内容-->
			</dd>
			<!--腌制、烧烤食品摄取频率-->
			<dt class="list_dt">
				<span class="fl"><img src="../images/bao-yanzhi.png" alt=""/><span>腌制、烧烤食品摄取频率</span></span>
				<span class="fr bgn">请保持</span>
				<i class="list_dt_icon bgn_bg"></i>
			</dt>
			<dd class="list_dd">
				<!--此处写腌制、烧烤食品摄取频率内容-->
			</dd>
			<!--====生活方式====-->
			<div class="shanshi space center">生活方式</div>
			<!--进食时间是否规律-->
			<dt class="list_dt">
				<span class="fl"><img src="../images/bao-js.png" alt=""/><span>进食时间是否规律</span></span>
				<span class="fr">需改善</span>
				<i class="list_dt_icon"></i>
			</dt>
			<dd class="list_dd">
				<!--此处写进食时间是否规律内容-->
			</dd>
			<!--饮酒频率-->
			<dt class="list_dt">
				<span class="fl"><img src="../images/bao-yj.png" alt=""/>饮酒频率</span>
				<span class="fr bgn">请保持</span>
				<i class="list_dt_icon bgn_bg"></i>
			</dt>
			<dd class="list_dd">
				<table border="1" cellspacing="0" cellpadding="0">
				  <tbody>
					<tr>
					  <td class="rLine" width="30%">您的情况</td>
					  <td width="70%">平均小于等于1次/周</td>
					</tr>
					<tr>
					  <td class="rLine">调整方向</td>
					  <td>平均小于等于1次/周</td>
					</tr>
					<tr>
					  <td class="rLine">调整原因</td>
					  <td class="smlh">尽量不要喝酒，偶尔小酌不至于严重危害健康。酒精作为一类致癌物会产生自由基破坏全身各处组织器官，包括肠道粘膜、肠道益生菌。且酒精会让人上瘾，越喝越多。</td>
					</tr>
					<tr>
					  <td class="rLine">营养补充剂建议</td>
					  <td>喝酒时可选用：洋蓟提取物帮助解除酒精毒性。</td>
					</tr>
				  </tbody>
				</table>
			</dd>
			<!--是否有吸烟的习惯规律-->
			<dt class="list_dt">
				<span class="fl"><img src="../images/bao-xy.png" alt=""/><span>是否有吸烟的习惯规律</span></span>
				<span class="fr">需改善</span>
				<i class="list_dt_icon"></i>
			</dt>
			<dd class="list_dd">
				<!--此处写是否有吸烟的习惯规律内容-->
			</dd>
			<!--====睡眠与压力====-->
			<div class="shanshi space center">睡眠与压力</div>
			<!--是否有熬夜的习惯-->
			<dt class="list_dt">
				<span class="fl"><img src="../images/bao-ay.png" alt=""/><span>是否有熬夜的习惯</span></span>
				<span class="fr">需改善</span>
				<i class="list_dt_icon"></i>
			</dt>
			<dd class="list_dd">
				<!--此处写是否有熬夜的习惯内容-->
			</dd>
			<!--睡眠质量-->
			<dt class="list_dt">
				<span class="fl"><img src="../images/bao-sm.png" alt=""/>睡眠质量</span>
				<span class="fr">需改善</span>
				<i class="list_dt_icon"></i>
			</dt>
			<dd class="list_dd">
				<table border="1" cellspacing="0" cellpadding="0">
				  <tbody>
					<tr>
					  <td class="rLine" width="30%">您的情况</td>
					  <td width="70%">偶尔睡不踏实</td>
					</tr>
					<tr>
					  <td class="rLine">调整方向</td>
					  <td>可尝试以下方法增加深度睡眠：上床后不看手机，晚餐清淡不过饱，7:00前起床以倒逼23:00前早睡</td>
					</tr>
					<tr>
					  <td class="rLine">调整原因</td>
					  <td class="smlh">睡眠质量与肠道健康息息相关，长期睡眠过浅会导致胃肠道功能紊乱，易便秘，免疫力低下，所以尽量每晚都睡个好觉。</td>
					</tr>
					<tr>
					  <td class="rLine">营养补充剂建议</td>
					  <td>建议常备：<br/>五羟色胺（5-HTP）、褪黑素帮助进入深度睡眠</td>
					</tr>
				  </tbody>
				</table>
			</dd>
			<!--压力状况-->
			<dt class="list_dt">
				<span class="fl"><img src="../images/bao-yl.png" alt=""/>压力状况</span>
				<span class="fr bgn">请保持</span>
				<i class="list_dt_icon bgn_bg"></i>
			</dt>
			<dd class="list_dd">
				<!--此处写是否有熬夜的习惯内容-->
			</dd>
			<!--心情如何-->
			<dt class="list_dt">
				<span class="fl"><img src="../images/bao-xq.png" alt=""/>心情如何</span>
				<span class="fr bgn">请保持</span>
				<i class="list_dt_icon bgn_bg"></i>
			</dt>
			<dd class="list_dd">
				<!--此处写心情如何内容-->
			</dd>
			<!--====运动习惯====-->
			<div class="shanshi space center">运动习惯</div>
			<!--运动频率-->
			<dt class="list_dt">
				<span class="fl"><img src="../images/bao-yd.png" alt=""/>运动频率</span>
				<span class="fr">需增加</span>
				<i class="list_dt_icon"></i>
			</dt>
			<dd class="list_dd">
				<!--此处写运动频率内容-->
			</dd>
			<!--主要运动类型-->
			<dt class="list_dt">
				<span class="fl"><img src="../images/bao-lx.png" alt=""/>主要运动类型</span>
				<span class="fr">增加强度</span>
				<i class="list_dt_icon"></i>
			</dt>
			<dd class="list_dd">
				<table border="1" cellspacing="0" cellpadding="0">
				  <tbody>
					<tr>
					  <td class="rLine" width="30%">您的情况</td>
					  <td width="70%">低强度（散步、骑车、瑜伽拉伸……）</td>
					</tr>
					<tr>
					  <td class="rLine">调整方向</td>
					  <td>适当增加中高强度运动，包括固定时长的有氧运动，每周2-3次30-60分钟，如：跑步、游泳、健身操等。增加一定的力量训练，如：下蹲、哑铃、力量瑜伽、HIIT等  </td>
					</tr>
					<tr>
					  <td class="rLine">调整原因</td>
					  <td class="smlh">散步、骑车、瑜伽拉伸等的运动量较低，在BMI不超过29，身体可接受范围内增加运动会有助于提升肠道免疫力，促进肠蠕动减少便秘腹泻。选择强度较大的运动时，前期最好有专业指导，避免运动损伤。</td>
					</tr>
					<tr>
					  <td class="rLine">营养补充剂建议</td>
					  <td>喝酒时可选用：洋蓟提取物帮助解除酒精毒性。</td>
					</tr>
				  </tbody>
				</table>
			</dd>
			<!--====饮食原则====-->
			<div class="zhanbi space center">饮食原则</div>
			<p class="yuanze space">以下是营养专家总结的胃肠健康饮食大原则，建议您结合本报告“膳食习惯”中的“调整方向”逐渐改善，循序渐进养成习惯。</p>
			<div class="yuanze_pic">
				<img src="../images/zaocan.png" alt=""/>
				<img src="../images/wucan.png" alt=""/>
				<img src="../images/wancan.png" alt=""/>
			</div>
			<!--====补充剂方案====-->
			<div class="zhanbi space center">补充剂方案</div>
			<p class="yuanze space">综合评估您的饮食生活习惯、肠胃健康现状、环境污染、食物中营养素流失等因素，营养专家为您推荐以下补充剂方案。</p>
			<div class="jieshao"><img src="../images/jieshao.png" alt=""/></div>
			<p class="jianyi center"><span>建议您补充3种补充剂</span></p>
			<div class="jyiBox">
				<img class="jsBg" src="../images/goumai.png" alt=""/>
				<p class="name space"><span>速七活力益生菌胶囊</span>200亿以上活菌，<br/>Lab4专利菌群配方，<br/>快速改善腹泻便秘。</p>
				<img class="yaoM" src="../images/lei1.png" alt=""/>
				<input type="button" value="点击购买"/>
			</div>
			<div class="jyiBox">
				<img class="jsBg" src="../images/goumai.png" alt=""/>
				<p class="name space"><span>榆树养胃胶囊</span>修复胃粘膜，提高胃动力，调理消化酶分泌，改善消化不良引起的胃痛胃胀。</p>
				<img class="yaoM" src="../images/lei2.png" alt=""/>
				<input type="button" value="点击购买"/>
			</div>
			<div class="jyiBox">
				<img class="jsBg" src="../images/goumai.png" alt=""/>
				<p class="name space"><span>安益胶囊</span>修复肠粘膜，温和调理肠胃菌群，改善消化不良引起的腹痛腹胀。</p>
				<img class="yaoM" src="../images/lei3.png" alt=""/>
				<input type="button" value="点击购买"/>
			</div>
			<!--瘦身产品-->
			<p class="jianyi center"><span>Slimate瘦身解决方案套装</span></p>
			<div class="ssCPin">
				<p>全能营养<br/>强饱腹感热量低<span>植物纤维蛋白奶昔</span></p>
				<img src="../images/shoshenchanpin.png" alt=""/>
			</div>
			<div class="ssCPin">
				<p>消除水肿，促进燃脂<span>黑茶绿咖啡提取物</span></p>
				<img src="../images/shoshenchanpin.png" alt=""/>
			</div>
			<div class="ssCPin">
				<p>加倍燃脂<span>左旋肉碱固体饮料<br/>*运动前30分钟饮用效果更佳</span></p>
				<img src="../images/shoshenchanpin.png" alt=""/>
			</div>
		</div><!-- sideMenu End -->
	</div>

	<!--固定底部-->
	<div class="fotNav center">
		<ul>
			<li><a href="">肠道现状</a></li>
			<li><a href="">健康行为评估</a></li>
			<li><a href="">饮食大原则</a></li>
			<li><a href="">补充剂方案</a></li>
		</ul>
	</div>


</body>
</html>


