<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="css/css.css" type="text/css">
<title>检测报告</title>
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/Font.js"></script>
</head>
<body class="bg-cc">
	<div class="Healthy">
		<div class="boxes center">
			<p>您的体型现状</p>
			<ul class="xianZ">
				<li>体型标准体脂偏高</li>
				<li class="on">标准身材</li>
				<li>脂肪型肥胖</li>
				<li>混合型肥胖</li>
				<li>肌肉型 </li>
			</ul>
			<a href="">查看详情</a>
		</div>
		
		<div class="boxes center">
			<p>您的健康行为评估</p>
			<span><em>65分</em>（一般）</span>
			<a href="">查看详情</a>
		</div>
		
		<div class="boxes">
			<h3>您的饮食和营养补充指导</h3>
			<ul class="zhidao">
				<li>
					<img src="images/yinshi.png" alt=""/>
					<input type="button" value="> 饮食原则"/>
				</li>
				<li>
					<img src="images/buchongji.png" alt=""/>
					<input type="button" value="> 补充剂方案"/>
				</li>
			</ul>
		</div>
		
	</div>
</body>
</html>

