<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="../css/css.css" type="text/css">
<title>检测报告</title>
<script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../js/Font.js"></script>
</head>
<body class="hello">
	<h3 th:text="'尊敬的'+${userName}">尊敬的张靓颖</h3>
	<div class="box space">
		<p>欢迎阅读BioCare营养健康专家团队为您量身定制的《科学瘦身方案》。</p>
		<p>BioCare是英国老字号营养保健品牌，有<span class="sp1">30余年</span>临床营养专业知识及经验，致力于为消费者提高品质全方位的专业营养解决方案。</p>
		<p>BioCare的专家团队由来自<span class="sp2">剑桥、牛津、北大</span>的中英两国人才构成，包括自然医学、生物学、营养学领域的专家。</p>
		<input style="width:100%; margin-bottom:0;" class="btn" type="button" value="点击阅读"/>
	</div>
	<input type="hidden" name="product" th:value="${product}">
	<input type="hidden" name="name" th:value="${name}">
	<input type="hidden" id="openid" th:value="${openid}">
	<input type="hidden" id="date" th:value="${#dates.format(date,'yyyy-MM-dd HH:mm:ss')}">
	<script type="text/javascript">
	var openid=$("#openid").val();
		$(".btn").click(function(){
			var name=$("[name='name']").val();
			window.location.href="/paper/kexueshoushens?product="+$("[name='product']").val()+"&name="+name+"&openid="+openid+"&date="+$("#date").val();
		});
	</script>
</body>
</html>

