<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="../css/css.css" type="text/css">
<title>检测报告</title>
<script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../js/Font.js"></script>
<style type="text/css">

	/* .yemiantiaozhuan{padding:.4rem .54rem} */
	td {
  white-space: pre-line;
 }
 
 pop{background:rgba(0,0,0,.45); position:fixed; width:100%; height:100%; left:0; top:0;}
.pop p{width:92%;height:30%; padding:5%; text-align:center; background:#fff; position:absolute; margin:auto; left:0; top:0; right:0; bottom:0; font-size: .32rem;line-height: .5rem;border-radius:.15rem;}
.pop p span{ display:block;margin-top: 5%;font-size: .28rem;}
</style>
</head>
<body class="bg-cc">
<div id="baogao-jianfei">
	<div class="Healthy">
		<div class="boxes center">
			<p>您的体型现状</p>
			<ul class="xianZ">
				<li>偏瘦 </li>
				<li>体重标准体脂偏高</li>
				<li>标准身材</li>
				<li>脂肪型肥胖</li>
				<li>混合型肥胖</li>
				<li>肌肉型 </li>
			</ul>
			<a id="test">查看详情</a>
		</div>
		
		<div class="boxes center">
			<p>您的健康行为评估</p>
			<span><em th:text="${yinshi60} +'分'"></em></span>
			<a id="ccc">查看详情</a>
		</div>
		
<!-- 		<div class="boxes" style="line-height: .4rem;letter-spacing: 1px;">您的肠胃健康现状比较好，但饮食生活习惯一般。肠胃健康度与身体基础和遗传基因有系，随着年龄增加，饮食生活习惯的影响会更大，建议您参考报告中的建议搭配补充剂调整，以长期保持肠胃健康。</div>
 -->		
		
		 <div class="boxes">
		 <p style="font-size: .30rem;" th:text="${huashu}">您的体型现状比较理想，作为日常保养，可以选择以下补充剂</p>
			<!--  <h3>您的饮食和营养补充指导</h3>
			<ul class="zhidao">
				<li>
					<img src="../images/yinshi.png" alt=""/>
					<input type="button" value="> 饮食原则"/>
				</li>
				<li>
					<img src="../images/buchongji.png" alt=""/>
					<input type="button" value="> 补充剂方案"/>
				</li>
			</ul> -->
		</div>
		<!-- 此处的补充剂方案为新设置 -->
		<!--====补充剂方案====-->
			<div class="zhanbi space center" >补充剂方案</div>
			<p class="yuanze space">综合评估您的饮食生活习惯、体型现状、环境污染、食物中营养素流失等因素，营养专家为您推荐以下补充剂方案。</p>
			<div class="jieshao"><img src="../images/jieshao.png" alt=""/></div>
			<p class="jianyi center erwewas"><span>建议您补充3种补充剂</span></p>
			<p class="jianyi center swsws"><span>您还可以选择</span></p>
			<!--瘦身产品-->
			<p class="center"><img src="../images/SS-all.png" alt=""/></p>
		
	</div>
	
</div>	
	<div id="baogao-JF"  style="display: none; padding: .4rem 7%;">
		<!--肠道现状-->
	<div class="cdxzBox" id="tixingxianzhuang">
		<div class="ztai center">
			<img  src="../images/shoushenXX.png" alt=""/>
			<p>您的体型现状</p>
			<div class="txXZ space ppyuyy"></div>
		</div>
		<div class="SStxt center">
			<p>身高（cm）：<em th:text="${high}"></em></p>
			<p>体重（kg）：<em th:text="${weight}"></em></p>
			<p>BMI（体重/身高²）：<em th:text="${bmi}"></em></p>
			<p>腰部：<em id="yaobu" th:text="${zhuirou}"></em></p>
			<p><img id="ooowewqwqw" src="../images/tixing1.png" alt=""/></p>
		</div>
		<div class="fenbuTu">
			<img src="../images/fenbutu.png" alt=""/>
			<span class="jiedian1"></span>
			<span class="jiedian2"></span>
			<span class="jiedian3"></span>
			<span class="jiedian4"></span>
			<div class="fenbuRed"><!--默认是1--></div>
		</div>
		
		<div class="sideMenu">
			
			<div class="jbs">
				<div class="center" id="xinzengjiadeidzhi">
  	   				<img id="biaoqingaaa" src="../images/henhao.png" alt=""/>
  	  				<p class="p2">饮食与生活习惯得分</p>
  	  				<p class="p3"><span th:text="${yinshi60}"></span></p>
  	 			</div>
  	 			<p class="zhanbi space center" id="changdaoxianzhuang">影响体型的因素</p>
  	  			<ul class="zhanbi-lt center">
  	  				<li>膳食习惯</li>
  	  				<li>生活方式</li>
  	  				<li>睡眠与压力</li>
  	  				<li>运动习惯</li>
  	  			</ul>
  	  			<p class="txt">体型的现状除了和基因、自身体质有关外，很大程度上还取决于饮食与生活习惯。接下来是健康专家团队为您量身定制的个性化方案，包括饮食、习惯、作息、运动、情绪压力、营养补充剂等方面。</p>
			</div>	
			<div class="shanshi space center" id="SHANSHI_XIGUAN">膳食习惯</div>
			<div class="shanshi space center" id="SHENGHUO_FANGSHI">生活方式</div>
			<div class="shanshi space center" id="SHUIMIAN_XIGUAN">睡眠与压力</div>
			<div class="shanshi space center" id="YUNDONG_XIGUANG">运动习惯</div>
			<!--====饮食原则====-->
			<div class="zhanbi space center" id="yinshiyuanzetiaozhuan">饮食原则</div>
			<p class="yuanze space">以下是营养专家总结的科学享瘦饮食原则，不仅减脂效率高，且饱腹感强，营养丰富，建议您结合本报告“饮食习惯”中的“调整方向”逐渐改善，循序渐进养成习惯。</p>
			<div class="yuanze_pic">
				<img src="../images/SSpic.png" alt=""/>
				
			</div>
			<!--====补充剂方案====-->
			<div class="zhanbi space center" id="buchongjifangantiaozhuan">补充剂方案</div>
			<p class="yuanze space">综合评估您的饮食生活习惯、体型现状、环境污染、食物中营养素流失等因素，营养专家为您推荐以下补充剂方案。</p>
			<div class="jieshao"><img src="../images/jieshao.png" alt=""/></div>
	 		<p class="jianyi center erwewas"><span>建议您补充3种补充剂</span></p>
			<p class="jianyi center swsws"><span>您还可以选择</span></p>
			
			<!--瘦身产品-->
			<p class="center"><img src="../images/SS-all.png" alt=""/></p>
			
		</div><!-- sideMenu End -->
	</div>

	<!--固定底部-->
	<div class="fotNav center">
		<ul>
			<li><a href="#tixingxianzhuang">体型现状</a></li>
			<li><a href="#SHANSHI_XIGUAN">健康行为评估</a></li>
			<li><a href="#yinshiyuanzetiaozhuan">饮食大原则</a></li>
			<li><a href="#buchongjifangantiaozhuan">补充剂方案</a></li>
		</ul>
	</div>
	
	</div>
	<input type="hidden" id="ttxxxxzz">
	<input id="product" type="hidden" th:value="${product}">
	<input id="shenti80" type="hidden" th:value="${shenti80}">
	<input id="yinshi60" type="hidden" th:value="${yinshi60}">
	<input id="openid" type="hidden" th:value="${openid}">
	<input type="hidden" id="date" th:value="${#dates.format(date,'yyyy-MM-dd HH:mm:ss')}">
	<!-- 藤黄果的链接 -->
	<div class="pop" id="tanatanaa">
    	<p>如需浏览，请长按网址复制后使用浏览器访问：<span>https://100000511479.retail.n.weimob.com/saas/retail/100000511479/0/goods/detail?id=1202278430179</span></p>
    </div>
	
	<script type="text/javascript">
	
	$("#tanatanaa").hide();
	
	 var bmi =  $("#yaobu").parent().prev().children("em").text();
	 bmi=parseFloat(bmi);
	 var zhuirou= $("#yaobu").text();
	 if(bmi>=24 && zhuirou=="赘肉较多"){
		 $(".ppyuyy").html("脂肪型肥胖");
		 $("ul.xianZ li:nth-child(4)").addClass("on");
		 $(".tiXing").addClass("tzFP")
		 $("#ooowewqwqw").attr("src", "../images/tixing4.png");
		 $(".fenbuRed").addClass("fenbu4");
		 $("#ttxxxxzz").val("体型现状：脂肪型肥胖");
	 }
	 else if(bmi>=24 && zhuirou=="有点赘肉"){
		 $(".ppyuyy").html("混合型肥胖");
		 $("ul.xianZ li:nth-child(5)").addClass("on");
		 $(".tiXing").addClass("hhFP")
		 $("#ooowewqwqw").attr("src","../images/tixing5.png");
		 $(".fenbuRed").addClass("fenbu5");
		 $("#ttxxxxzz").val("体型现状：混合型肥胖");
	 }
	 else if(bmi>=24 && zhuirou=="没有赘肉"){
		$(".ppyuyy").html(" 肌肉型");
		 $("ul.xianZ li:nth-child(6)").addClass("on");
		 $(".tiXing").addClass("jirou")
		$("#ooowewqwqw").attr("src", "../images/tixing6.png");
		 $(".fenbuRed").addClass("fenbu6");
		 $("#ttxxxxzz").val("体型现状：肌肉型");
	 }
	 else if(bmi>=18.5 && bmi<23.9 && (zhuirou=="有点赘肉" || zhuirou=="赘肉较多" )){
		 $(".ppyuyy").html("体重标准 体脂偏高");
		 $("ul.xianZ li:nth-child(2)").addClass("on");
		 $(".tiXing").addClass("tzPG")
		 $("#ooowewqwqw").attr("src","../images/tixing2.png");
		 $(".fenbuRed").addClass("fenbu2");
		 $("#ttxxxxzz").val("体型现状：体重正常体脂偏高");
	 }
	 else if(bmi>=18.5 && bmi<23.9 && zhuirou=="没有赘肉") {
		$(".ppyuyy").html(" 标准身材");
		 $("ul.xianZ li:nth-child(3)").addClass("on");
		 $(".tiXing").addClass("tzPG")
		$("#ooowewqwqw").attr("src", "../images/tixing3.png");
		 $(".fenbuRed").addClass("fenbu3");
		 $("#ttxxxxzz").val("体型现状：标准身材");
	 }
	 else if(bmi<18.5) {
		 $(".ppyuyy").html("偏瘦");
		 $("ul.xianZ li:nth-child(1)").addClass("on");
		 $(".tiXing").addClass("pShou")
		 $("#ooowewqwqw").attr("src", "../images/tixing1.png");
		 $(".fenbuRed").addClass("fenbu1");
		 $("#ttxxxxzz").val("体型现状：偏瘦");
	 }
	
	var fenshua  = $("#shenti80").val();
	if(fenshua>=80) $("ul.ppty li:nth-child(3)").addClass("on").siblings().removeClass("on");
	if(fenshua<80 && fenshua>=60) $("ul.ppty li:nth-child(2)").addClass("on").siblings().removeClass("on");
	if(fenshua<60) $("ul.ppty li:nth-child(1)").addClass("on").siblings().removeClass("on");
	
	
	var yinshi = $("#yinshi60").val();
	yinshi=parseInt(yinshi);
	if(yinshi>=80){ $(".biaoqing").addClass("shufu");$("#ccc").prev().append("（较好）");$("#biaoqingaaa").attr("src","../images/henhao.png");$("#biaoqingaaa").parent().find(".p3").append("分 (较好) ");}
	if(yinshi<80 && yinshi>=60){$("#ccc").prev().append("（一般）");$("#biaoqingaaa").attr("src","../images/yiban.png");$("#biaoqingaaa").parent().find(".p3").append("分 (一般) ");}
	if(yinshi<60){ $(".biaoqing").addClass("buhao");$("#ccc").prev().append("（较低）");$("#biaoqingaaa").attr("src","../images/buhao.png");$("#biaoqingaaa").parent().find(".p3").append("分 (较低) ");}
	
	
	/**
	*  跳转
	*/
  $("#test").click(function(){
	  $("#baogao-JF").show();
	  $("#baogao-jianfei").hide();
 	 $("body").addClass("yemiantiaozhuan");
	 //跳转到页面的某处
      window.location.hash = "#tixingxianzhuang";
  });
	
	 $("#ccc").click(function(){
		  $("#baogao-JF").show();
		  $("#baogao-jianfei").hide();
		 $("body").addClass("yemiantiaozhuan");
		 //跳转到页面的某处
	      window.location.hash = "#xinzengjiadeidzhi";
	  });
	 
	//饮食原则跳转
  $(".zhidao input").first().click(function(){
	  $("#baogao-JF").show();
	  $("#baogao-jianfei").hide();
	  window.location.hash = "#yinshiyuanzetiaozhuan";
  });
	
  //补充剂方案跳转
$(".zhidao input").last().click(function(){
	$("#baogao-JF").show();
	  $("#baogao-jianfei").hide();
	  window.location.hash = "#buchongjifangantiaozhuan";
  });
  
//点击图片触发跳转

$(".fotNav li:nth-child(1)").click(function(){
	  window.location.hash = "#changdaoxianzhuang";
});
$(".fotNav li:nth-child(2)").click(function(){
	  window.location.hash = "#SHANSHI_XIGUAN";
});
$(".fotNav li:nth-child(3)").click(function(){
	  window.location.hash = "#yinshiyuanzetiaozhuan";
});
$(".fotNav li:nth-child(4)").click(function(){
	  window.location.hash = "#buchongjifangantiaozhuan";
});
  
//鼠标悬浮放大

/* $(".fotNav li").mouseenter(function(){
	 $(this).css("font-size",".36rem");
}).mouseout(function(){
	  $(this).css("font-size","");
});  */
  var paibainpinlv=[],//排便频率
  paibianpinlvshucaishuiguo=[];  //排便频率  新鲜蔬菜摄入  新鲜水果摄入
  var openid=$("#openid").val();
  var date=$("#date").val();
  $.ajax({
		type : "GET",
		url : "/paper/getMyReportData",
		data:{product:$("#product").val(),openid:openid,date:date},
		async : false,
		success : function(r) {console.info(r)
			  for(var key in r){
				var datas=r[key],l="";
				for(var i=0;i<datas.length;i++){
					var data=datas[i];
					l+='<dt class="list_dt">';
					if(data.content.length>7)
						l+='<span class="fl"><img src="'+data.img+'" alt=""/><span>'+data.content+'</span></span>';
					else
						l+='<span class="fl"><img src="'+data.img+'" alt=""/>'+data.content+'</span>';
					if(data.tiaozheng=='请保持' && key !='SHENTI_ZHUANG'){
						l+='<span class="fr bgn">请保持</span><i class="list_dt_icon bgn_bg"></i>';
					}
					else{
						l+='<span class="fr">'+data.tiaozheng+'</span><i class="list_dt_icon"></i>';
					}
					l+='</dt>';
					l+='<dd class="list_dd">';
					l+='<table border="1" cellspacing="0" cellpadding="0">';
					l+='<tbody>';
					for(var j=0;j<data.choiceProductDOList.length;j++){
						var cdata=data.choiceProductDOList[j];
						l+='<tr>';
						l+='<td class="rLine" width="30%">您的情况</td>';
						l+='<td width="70%">'+cdata.choicecontent+'</td>';
						l+='</tr>';
						l+='<tr>';
						l+='<td class="rLine">调整方向</td>';
						l+='<td>'+cdata.tads+'</td>';
						l+='</tr>';
						l+='<tr>';
						l+='<td class="rLine">调整原因</td>';
						l+='<td class="smlh">'+cdata.tadreason+'</td>';
						l+='</tr>';
						l+='<tr>';
						l+='<td class="rLine">营养补充剂建议</td>';
						l+='<td>'+cdata.tadjianyi+'</td>';
						l+=	'</tr>';
						
						var cc=data.content;
						var text=data.content+"："+cdata.choicecontent;
						if(cc.indexOf("通常的排便频率？")>=0){
							paibainpinlv.push(text); 
						}
						if(cc.indexOf("通常的排便频率？")>=0 || cc.indexOf("平均每天吃几份蔬菜？") >=0|| cc.indexOf("平均每天吃几份水果？")>=0 || cc.indexOf("平均每天吃几份粗粮？")>=0){
							paibianpinlvshucaishuiguo.push(text);
						}
					}
					l+='</tbody>';
					l+='</table>';
					l+='</dd>';
				}
				if(key=='SHANSHI_XIGUAN') 
					$("#SHANSHI_XIGUAN").after($(l));
				else if(key=='SHENGHUO_FANGSHI')
					$("#SHENGHUO_FANGSHI").after($(l));
				else if(key=='SHENTI_ZHUANG'){
					/* $(".sideMenu").prepend($(l)); */
				}
				else if(key=='SHUIMIAN_XIGUAN')
					$("#SHUIMIAN_XIGUAN").after($(l));
				else if(key=='YUNDONG_XIGUANG')
					$("#YUNDONG_XIGUANG").after($(l));
			}	 
		}
	});

  paibainpinlv.push($("#ttxxxxzz").val());
  paibianpinlvshucaishuiguo.push($("#ttxxxxzz").val());
 //产品购买链接
 function goumai(url){
	 window.location.href=url; 
  }
 
 /*********************产品推荐逻辑**************************/
 var tuijianarry=[],//建议补充
 haikexuanze=[];//还可选择
 flag=false;
 
 console.info("=================================");
 console.info(paibainpinlv);
 console.info(paibianpinlvshucaishuiguo);
 console.info("==============================");
 
//判断速七活力益生菌胶囊                                                   																       
var jianyibuchong=["通常的排便频率？：有便秘倾向","通常的排便频率？：大于3次/天"];
for(var i=0;i<paibainpinlv.length;i++){
	 var l = paibainpinlv[i];
	 for(var j=0;j<jianyibuchong.length;j++){
		 if(l==jianyibuchong[j]){
			 flag=true;
			 break;
		 }
	 }
	 if(flag==true)
		 break;
 }
 if(flag==true){
	 flag=false;
	 var obj={'title':'速七活力益生菌胶囊','images':'../images/CW-suqihuoli.png','url':'https://100000511479.retail.n.weimob.com/saas/retail/100000511479/0/goods/detail?id=1202279910179'};
	 tuijianarry.push(obj);
 } 
 
//判断每日活力益生菌
   var shengxiade=[];
   flag=false
   var jianyibuchong=["通常的排便频率？：1-3次/天"];
   for(var i=0;i< paibainpinlv.length;i++){
   		var l = paibainpinlv[i];
	 	for(var j=0;j<jianyibuchong.length;j++){
		 	if(l==jianyibuchong[j]){
				 flag=true;
				 break;
			 }
	 	}
	 	if(flag==true)
	 		break;
 	}
 if(flag==true){flag=false;
	 var obj={'title':'每日活力益生菌','images':'../images/CW-meirihuoli.png','url':'https://100000511479.retail.n.weimob.com/saas/retail/100000511479/0/goods/detail?id=1202275920179'};
	 tuijianarry.push(obj);
 } 
  
 //膳食纤维低聚果糖
 shengxiade=[];
 var jianyibuchong=["通常的排便频率？：有便秘倾向","通常的排便频率？：大于3次/天","平均每天吃几份蔬菜？ （一份约为1个拳头体积的煮熟的蔬菜，不包括藕、土豆、玉米、山药、芋头，它们是主食，不是蔬菜）：小于2份","平均每天吃几份蔬菜？ （一份约为1个拳头体积的煮熟的蔬菜，不包括藕、土豆、玉米、山药、芋头，它们是主食，不是蔬菜）：2-3份","平均每天吃几份水果？ （1份水果的可食部约为半个拳头的大小，或半个中号苹果大小）：小于2份","体型现状：脂肪型肥胖","体型现状：体重正常体脂偏高","平均每天吃几份粗粮？ （一份约为1个拳头体积的煮熟的粗粮，包括全谷物、杂豆类、薯类，例如藕、土豆、玉米、山药、芋头都是主食）：几乎不吃","平均每天吃几份粗粮？ （一份约为1个拳头体积的煮熟的粗粮，包括全谷物、杂豆类、薯类，例如藕、土豆、玉米、山药、芋头都是主食）：小于1份"];
 for(var i=0;i< paibianpinlvshucaishuiguo.length;i++){
	 var l = paibianpinlvshucaishuiguo[i];
	 for(var j=0;j<jianyibuchong.length;j++){
		 if(l==jianyibuchong[j]){
			 flag=true;
		 	 break;
		 }
	 }
	 if(flag==true)
		 break;
 }
 if(flag==true){
	 flag=false;
	 var obj={'title':'膳食纤维低聚果糖','images':'../images/CW-dijuguotang.png','url':'https://100000511479.retail.n.weimob.com/saas/retail/100000511479/0/goods/detail?id=1202286020179'};
	 tuijianarry.push(obj);
	 shengxiade.push("膳食纤维低聚果糖");
 }
 


 //判断还可选择   膳食纤维低聚果糖
 if(shengxiade.length==0 && paibianpinlvshucaishuiguo.length>0){
//	 var obj={'title':'安益胶囊','images':'../images/JF-anyijiaonang.png','url':'https://100000511479.retail.n.weimob.com/saas/retail/100000511479/196623479/goods/detail?id=59844980179'};
	 var obj={'title':'膳食纤维低聚果糖','images':'../images/CW-dijuguotang.png','url':'https://100000511479.retail.n.weimob.com/saas/retail/100000511479/0/goods/detail?id=1202286020179'};

	 haikexuanze.push(obj);
}
 
 tuijianarry.push({'title':'藤黄果提取物','images':'../images/CW-tenghuangguo.png','url':'https://100000511479.retail.n.weimob.com/saas/retail/100000511479/0/goods/detail?id=1202278430179'});
 
$(".erwewas").children("span").text("建议您补充"+ (tuijianarry.length)+"种补充剂");
var div='';
for(var i=0;i< tuijianarry.length;i++){
	
	 div+= '<div class="ulBox"><a href="'+tuijianarry[i].url+'"><img  class="jsBg" src="'+tuijianarry[i].images+'" alt=""/></a></div>'
} 
$(".erwewas").after(div);
  /*********************产品推荐逻辑**************************/
 if(haikexuanze.length==0){
		$(".swsws").hide();
	}else{
		div='';
		for(var i=0;i<haikexuanze.length;i++){
			div+= '<div class="ulBox"><a href="'+haikexuanze[i].url+'"><img class="jsBg"  src="'+haikexuanze[i].images+'" alt=""/></a></div>'
		}
		$(".swsws").after(div);
	}
  
	 
  
	  
  
</script>
</body>
</html>

