<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="../css/css.css" type="text/css">
<title>健康方案</title>
<script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../js/Font.js"></script>
<style type="text/css">
.xhxys{
color: red;
}

</style>
</head>
<body class="bg-cc">
	<div class="goon">
		<img class="logo" src="../images/logo.png" alt=""/>
		<p class="p-more space center">点击圆圈选择健康方案<br/><span class="xhxys">可选一个或多个</span><br>然后点“继续”</p>
		<ul class="changweishoushen">
			 <li>
				<img class="fl" src="../images/CW-txt.png" alt="">
				<img class="fr" src="../images/changwei.png" alt=""/>
			</li>
			<li style="border-bottom:none;">
				<img class="fl" src="../images/SS-txt.png" alt="">
				<img class="fr" src="../images/shoushen.png" alt=""/>
			</li>
		</ul>
		<!--  <div class="center"><a id="jixu">继续</a></div> -->
		<input id="jixu" style="width:45%;height:.8rem;font-size: .40rem" class="btn" type="button" value="继续"/>
	</div>
</body>
<input type="hidden" id="openid" th:value="${openid}">
<script type="text/javascript" >
  if($("#openid").val()==''){          
	var callback = encodeURIComponent("http://wenjuan.biocareuk.com/paper/index");
	window.location.href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx97f1fcb270792eeb&redirect_uri="+callback+"&response_type=code&scope=snsapi_base#wechat_redirect";
} 
/**
 * 获取所有的方案
 */
 var openid=$("#openid").val();
$.ajax({
	url: "/paper/getAllProduct",
	data:{openid :openid},
	type: "GET",
	async : false,
	success: function(r){
		if(r.data!=null){
			var li="";
			for(var i=0;i<r.data.length;i++){
				var d=r.data[i];
				var li='<input name="id" type="hidden" value="'+d.id+'"/>';
				if(d.name=="肠胃调理"){
					$(".changweishoushen li:nth-child(1)").append(li);
				}
				else if(d.name=="科学瘦身"){
					$(".changweishoushen li:nth-child(2)").append(li);
				}
				
			}
		 	 
		}
	}
});


$(".changweishoushen li").click(function(){
	$(this).toggleClass("on");
});

$("#jixu").click(function(){
	var products=new Array();
	$(".changweishoushen li.on").each(function(){
		products.push($(this).children('[name="id"]').val());
	});
	if(products.length==0){
		alert("要先选择一个或多个产品");
		return;
	}
	
	window.location.href="/paper/saveChoosedProduct?products="+products+"&openid="+openid;
});
</script>
</html>

