<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="../css/css.css" type="text/css">
<title>基本信息</title>
<script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../js/Font.js"></script>
<style type="text/css">
	.imgChoose{border:.04rem solid #228DCD;}
	
</style>
</head>
<body class="bg-cc">
	<div class="tit">
		<a href="javascript:history.back(-1)" class="fanhui" title="返回"></a>
		<h3 class="space center">基本信息</h3>
		<p>
			<a title="点击前面的按钮"></a>
			<a  title="点击后面的按钮"></a>
		</p>
	</div>
	<div class="name">
		<div class="pre">
			<a >< 上一题</a>
			<progress value="50" max="100"></progress>
			<span class="baifen">50%</span>
		</div>
		
		
		
	</div>
	<div class="nev">
			<a > 下一题  <i class="xiti">></i></a>
			
		</div>
	<div id="jibenxinxi" style="display: none">
		<div th:each="question:${list}">
			<p align="center" th:text="${question.contenw}"></p>
		 	<div class="yes center">
		 		<input name="questionId" type="hidden" th:value="${question.id}"/>
		 		<input name="customerPaperId" th:value="${question.paperId}" type="hidden">
				<input name="tiankonganswer" type="text" placeholder=""/>
			</div> 
		</div>
	</div>
	
	<div id="xingbie" style="display: none;">
		<div class="sex center">
			<h2>性别</h2>
			<p>
				<input type="button" value="男" class="imgChoose"/>
				<input type="button" value="女"/>
			</p>
		</div>
	</div>
	<input id="lei" th:value="${LEI}" type="hidden">
	<input id="count" th:value="${count}" type="hidden">
	<input id="index" th:value="${index}" type="hidden">
</body>
<script type="text/javascript">
 $("#jibenxinxi div").each(function(){
	 var text=$(this).children("p").text();
	 if(text=='性别'){
		 $("#xingbie").find("p").append($(this).find("[name='questionId']")).append($(this).find("[name='customerPaperId']"));
		$(this).replaceWith($("#xingbie").html());
		
	 }
	if(text=='年龄')
		$(this).append('<div class="beizhu center">*暂不对18周岁一下的未成年人提供营养服务</div>');
	$(this).find("[name='tiankonganswer']").attr("placeholder","请输入你的"+text);
}); 

  


	var questionArry=[], arry=[],index=$("#index").val();

		  var countb=$("#count").val();
		  var baifen = Math.floor(index*100/countb);
		  $(".baifen").text(baifen+'%');
		  $(".baifen").prev().val(baifen);
	 
	$(".name").append($("#jibenxinxi div:first-child"));
	$(".nev a").click(function(){
		var customerPaperId=$(".name").find("[name='customerPaperId']").val();
		var questionId=$(".name").find("[name='questionId']").val();
		var tiankonganswer=$(".name").find(".imgChoose").val();
	    if(tiankonganswer==undefined)
	    	tiankonganswer=$(".name").find("[name='tiankonganswer']").val();
	    var obj={'questionId':questionId,'tiankonganswer':tiankonganswer,'fenlei':'JIBEN_XINXI','customerPaperId':customerPaperId};
		arry.push(obj);
		var count=$("#jibenxinxi").children().length;
		if(count>0){
			questionArry.push($(".name").children().last().remove());
			$(".name").append($("#jibenxinxi div:first-child"));
			console.info(questionArry);
			 
			 index++;
			 countb=$("#count").val();
			 baifen = Math.floor(index*100/countb);
			 $(".baifen").text(baifen+'%');
			 $(".baifen").prev().val(baifen);
		}
		else{
			$.ajax({
				type : "POST",
				url : "/paper/saveWenJuan",
				data : {objs:JSON.stringify(arry)},// 你的formid
				async : false,
				success : function(data) {
					if(data.code==0)
						window.location.href="/paper/fenlei?flag=1&index="+index+"&count="+countb;
					else
						alert(data.msg);
				}
			});
		}
	});
	
	//性别处理
	$(":button").click(function(){
		$(this).addClass("imgChoose").siblings().removeClass("imgChoose");
	});
	
	$(".pre a").click(function(){
		if(questionArry.length>0){
			$("#jibenxinxi").prepend($(".name").children().last().remove());
			
			$(".name").append(questionArry.pop());
			index--;
		}
	});
</script>
</html>

