<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="../css/css.css" type="text/css">
<title>基本信息</title>
<script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../js/Font.js"></script>
<style type="text/css">
	.imgChoose{border:.04rem solid #228DCD;}
</style>
</head>
<body class="bg-cc">
	<div class="tit">
		<a href="" class="fanhui" title="返回"></a>
		<h3 class="space center title">基本信息</h3>
		<p>
			<a title="点击前面的按钮"></a>
			<a title="点击后面的按钮"></a>
		</p>
	</div>
	<div class="name">
		<div class="pre">
			<a>< 上一题</a>
			<progress value="50" max="100"></progress>
			<span>50%</span>
		</div>
			
	</div>
	<div style="display: none;" id="allQuestion">
		<div class="bianbian" th:each="question:${list}">
			<input name="type" type="hidden" th:value="${question.type}"/>
			<h3 align="center" th:text="${question.contenw}"></h3>
			<ul>
				<li th:each="choice:${question.choiceList}">
					<span th:text="${choice.content}"></span>
					<span name="choseID" style="display:none;" th:text="${choice.id}"></span>
					<span name="questionID" th:text="${question.id}" style="display:none;"></span>
					<span name="customerPaperId" th:text="${question.paperId}" style="display:none;"></span>
				</li>
			</ul>
		</div>
	</div>
	<input name="flagg" th:value="${flag}" type="hidden">
	<input id="lei" th:value="${LEI}" type="hidden">
	<script type="text/javascript">
		var flag=$("[name='flagg']").val();
		if(flag==0) $("h3.title").text("基本信息");
		if(flag==1) $("h3.title").text("身体状况");
		if(flag==2) $("h3.title").text("膳食习惯");
		if(flag==3) $("h3.title").text("生活方式");
		if(flag==4) $("h3.title").text("睡眠与压力");
		if(flag==5) $("h3.title").text("运动习惯");
		
		
		var questionArry=[], arry=[];
		$(".name").append($("#allQuestion div:first-child"));
		$("p a").first().click(function(){
			$(".imgChoose").each(function(){
				var chooseId=$(this).children("[name='choseID']").text();//选项id
				var questionId=$(this).children("[name='questionID']").text();//问题id
				var customerPaperId=$(this).children("[name='customerPaperId']").text();
				var fenlei=$("#lei").val();
				/* 	var paperId=$(this).children("[name='paperID']").text(); */
				var obj={'choiceId':chooseId,'questionId':questionId,'customerPaperId':customerPaperId,'fenlei':fenlei};
				arry.push(obj);
			});
			var count=$("#allQuestion").children().length;
			if(count>0){
				questionArry.push($(".name div:last-child").remove());
				$(".name").append($("#allQuestion div:first-child"));
			}
			//触发ajax请求
			else{
				$.ajax({
					type : "POST",
					url : "/paper/saveWenJuan",
					traditional:true,
					data:{objs:JSON.stringify(arry)},
					success : function(data) {
						if(data.code==0){
							flag++;
							window.location.href="/paper/fenlei?flag="+flag;
						}
						else
							alert(data.msg);
					}
				});
			}
			});
		
		
		$(".pre a").last().click(function(){
			if(questionArry.length>0){
				$("#allQuestion").prepend($(".name div:last-child").remove());
				$(".name").append(questionArry.pop());
			}
		});
		
		$(".name").on('click','li',function(){
			if($(this).parents(".bianbian").children("input").val()==0){//单选
				$(this).addClass("imgChoose").siblings().removeClass("imgChoose");
			}
			else{//多选
				$(this).toggleClass("imgChoose");
			}
		});
	</script>
</body>
</html>

