 <!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="../css/css.css" type="text/css">
<title>基本信息</title>
<script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../js/Font.js"></script>
<style type="text/css">
	.imgChoose{border:.04rem solid #228DCD;}
	.ziti{font-size:.32rem }
    .imgChoose{border:.04rem solid #228DCD;}
	.ziti{font-size:.32rem }
	.triangle-left {
	 	display:inline-block;
        height: 0;
        border: .15rem solid transparent;
        border-right-color: red;
        vertical-align: middle;
        margin-right:.1rem;
    }
	.contentss{
	float:left;
		display:inline-block;
		width:1.3rem;
		line-height: .35rem;
		height: .35rem;/*给内部div设置了高度，该div才会垂直居中*/
		font-size:.3rem;
		}
	 
</style>
</head>
<body class="bg-cc">
	<div class="tit">
		<a href="javascript:history.back(-1)" class="fanhui" title="返回"></a>
		<h3 class="space center title">基本信息</h3>
		<p>
			<a title="点击前面的按钮"></a>
			<a title="点击后面的按钮"></a>
		</p>
	</div>
	<div class="name">
		<div class="pre">
			<!-- <div class="triangle-left"></div>   <a> 上一题</a> -->
			<!-- <a>< 上一题</a> -->
			<div class="contentss">
				<div class="triangle-left"></div><span>上一题</span>
			</div>
			<progress value="0" max="100"></progress>
			<span class="baifen">0</span>
		</div>
			
	</div>
	<div class="nev">
			<a > 下一题  <i class="xiti">></i></a>
			
		</div>
	<div style="display: none;" id="allQuestion">
		<div class="bianbian" th:each="question:${list}">
			<input name="type" type="hidden" th:value="${question.type}"/>
			<input type="hidden" name="bt" th:value="${question.img}">
			<input type="hidden" name="ifStop" th:value="${question.ifStop}">
			<input type="hidden" name="category" th:value="${question.category}">
			<h3 align="center" th:text="${question.contenw}"></h3>
			<ul>
				<li th:each="choice:${question.choiceList}">
					<span th:text="${choice.content}"></span>
					
					<span name="choseID" style="display:none;" th:text="${choice.id}"></span>
					<span name="questionID" th:text="${question.id}" style="display:none;"></span>
					<span name="customerPaperId" th:text="${question.paperId}" style="display:none;"></span>
				</li>
			</ul>
		</div>
	</div>
	<input id="count" th:value="${count}" type="hidden">
	<input id="index" th:value="${index}" type="hidden">
	<input id="openid" th:value="${openid}" type="hidden">
	<script type="text/javascript">
	
	//在页面未加载完毕之前显示的loading Html自定义内容
	var _LoadingHtml = '<div id="loadingDiv" style="display: none; "><div id="over" style=" position: absolute;top: 0;left: 0; width: 100%;height: 100%; background-color: #f5f5f5;opacity:0.5;z-index: 1000;"></div><div id="layout" style="position: absolute;top: 40%; left: 40%;width: 20%; height: 20%;  z-index: 1001;text-align:center;"><img src="/js/plugins/layer/skin/default/loading-0.gif" /></div></div>';
	//呈现loading效果
	document.write(_LoadingHtml);
	 
		
	
		$(".bianbian").each(function(){
			var text=$(this).find("h3").text();
			var lkuohao=text.indexOf("（"),rkuohao=text.indexOf("）");
			if(lkuohao>=0 && rkuohao>=0){//带括号的题目  需要处理
			    
				var text1=text.substring(0,lkuohao+1);
				var ktext=text.substring(lkuohao+1,rkuohao);
				var text2=text.substring(rkuohao);
				$(this).find("h3").html("");
				$(this).find("h3").append(text1).append("<em class='ziti'>"+ktext+"</em>").append(text2);
				
			}
		});
	
	
	
			var questionArry=[], arry=[];
			  var countb=$("#count").val();
			  var index=$("#index").val();
			  index=parseInt(index)+1;
			  var baifen = Math.floor(index*100/countb);
			  $(".baifen").text(baifen+'%');
			  $(".baifen").prev().val(baifen);
		
		$(".name").append($("#allQuestion div:first-child"));
		if($(".name").find("[name='type']").val()==0)
			$(".nev a").hide();
		else
			$(".nev a").show();
		$("h3.title").text(getFenlei($(".name").find("[name='category']").val()));
		var ur=$(".name").find("[name='bt']").val();
		$(".name h3").css('background','url('+ur+') no-repeat top center');
		$(".nev a").click(function(){
				danxuanduoxuanxuazne();
			});
		
		
		function danxuanduoxuanxuazne(){
			if($(".imgChoose").length==0){
				alert("请选择");
				return;
			}
			$(".imgChoose").each(function(){
				var chooseId=$(this).children("[name='choseID']").text();//选项id
				var questionId=$(this).children("[name='questionID']").text();//问题id
				
				var customerPaperId=$(this).children("[name='customerPaperId']").text();
				var fenlei=$(".name").find("[name='category']").val();//分类
				var ifStop=$(".name").find("[name='ifStop']").val();//分类
				var obj={'choiceId':chooseId,'questionId':questionId,'customerPaperId':customerPaperId,'fenlei':fenlei,'ifStop':ifStop};
				  if(arry.length>0){
					for(var k =0;k<arry.length;k++){
						var obj1=arry[k];
						if (obj1.questionId==questionId)
							 arry.splice(k,1);
					}
				}  
				arry.push(obj);
			});
			var count=$("#allQuestion").children().length;
			if(count>0){
				questionArry.push($(".name div:last-child").remove());
				var node=$("#allQuestion div:first-child");
				$(".name").append(node);
				if($(".name").find("[name='type']").val()==0)
					$(".nev a").hide();
				else
					$(".nev a").show();
				$("h3.title").text(getFenlei($(".name").find("[name='category']").val()));
				$(".name h3").css('background','url('+node.find("[name='bt']").val()+') no-repeat top center');
				
				 index++;
				 countb=$("#count").val();
				 baifen = Math.floor(index*100/countb);
				 $(".baifen").text(baifen+'%');
				 $(".baifen").prev().val(baifen);
			}
			//触发ajax请求
			else{
				var openid=$("#openid").val();
				
				//alert("提交中，请稍后!");
				document.getElementById("loadingDiv").style.display="block";
				$.ajax({
					type : "POST",
					url : "/paper/saveWenJuan",
					traditional:true,
					data:{objs:JSON.stringify(arry),'index':index,openid:openid},
					success : function(data) {
						if(data.code==0){
							document.getElementById("loadingDiv").style.display="none";
							window.location.href="/paper/getReportPage";
						}
						else
							alert(data.msg);
					}
				});
			}
		}
		
		$(".contentss").last().click(function(){
			if(questionArry.length>0){
				$("#allQuestion").prepend($(".name div:last-child").remove());
				var node=questionArry.pop();
				$(".name").append(node);
				if($(".name").find("[name='type']").val()==0)
					$(".nev a").hide();
				else
					$(".nev a").show();
				$("h3.title").text(getFenlei($(".name").find("[name='category']").val()));
				$(".name h3").css('background','url('+node.find("[name='bt']").val()+') no-repeat top center');
				index--;
				if($(".name").find("[name='type']").val()==0)
					$(".nev a").hide();
				else
					$(".nev a").show();
			}
		});
		
		$(".name").on('click','li',function(){
			if($(this).parents(".bianbian").children("input").val()==0){//单选
				$(this).addClass("imgChoose").siblings().removeClass("imgChoose");
				setTimeout(function(){danxuanduoxuanxuazne()},300);
			}
			else{//多选
				$(this).toggleClass("imgChoose");
			}
		});
		
		function getFenlei(fenlei){
			"SHENTI_ZHUANG","SHANSHI_XIGUAN","SHENGHUO_FANGSHI","SHUIMIAN_XIGUAN","YUNDONG_XIGUANG"
			if(fenlei=="SHENTI_ZHUANG")     return  "身体现状";
			if(fenlei=="SHANSHI_XIGUAN")    return "膳食习惯";
			if(fenlei=="SHENGHUO_FANGSHI")  return "生活方式";
			if(fenlei=="SHUIMIAN_XIGUAN")   return "睡眠与压力";
			if(fenlei=="YUNDONG_XIGUANG")   return "运动习惯";
		}
		
		//苹果端样式修改
		(function () {

    try {
        isIOS = !!navigator.userAgent.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/);
        if (fn.isIOS) {
            // window.history.pushState({}, "title", "#");
            document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
                WeixinJSBridge.call('hideToolbar');        // 隐藏底部状态栏
                WeixinJSBridge.call('hideOptionMenu');     // 隐藏右上角的三个点的选项
                console.log('ios');
                // WeixinJSBridge.call('showToolbar');        // 显示底部状态栏
                // WeixinJSBridge.call('showOptionMenu');     // 显示右上角的三个点的选项
            });

        }
    } catch (e) {
        
    }


    // document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
    //     WeixinJSBridge.call('hideToolbar');        // 隐藏底部状态栏
    //     WeixinJSBridge.call('hideOptionMenu');     // 隐藏右上角的三个点的选项
    //     // WeixinJSBridge.call('showToolbar');        // 显示底部状态栏
    //     // WeixinJSBridge.call('showOptionMenu');     // 显示右上角的三个点的选项
    // });
    ///

})();
</script>
</body>
</html>

