<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="../css/css.css" type="text/css">
<title>基本信息</title>
<script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../js/Font.js"></script>
</head>
<body class="bg-cc">
	<div class="tit">
		<a href="" class="fanhui" title="返回"></a>
		<h3 class="space center">基本信息</h3>
		<p>
			<a  title="点击前面的按钮"></a>
			<a  title="点击后面的按钮"></a>
		</p>
	</div>
	<input type="hidden" th:value="${flag}" id="flag">
	<div class="name">
		<div class="pre">
			<a href="">< 上一题</a>
			<progress value="" max="100"></progress>
			<span class="baifen"></span>
		</div>
		<ul class="xuanxiang center space">
			<li>基本信息</li>
			<li>身体状况</li>
			<li>膳食习惯</li>
			<li>生活方式</li>
			<li>睡眠与压力</li>
			<li class="pot">运动习惯</li>	       	
		</ul>	
	</div>
	<input id="count" th:value="${count}" type="hidden">
	<input id="index" th:value="${index}" type="hidden">
	
	<img class="miqi car" src="../images/car.png" alt=""/>
	<script type="text/javascript">
	//百分比进度
	
	  var countb=$("#count").val();
	  var index=$("#index").val();
	  var baifen = Math.round(index*100/countb);
	  $(".baifen").text(baifen+'%');
	  $(".baifen").prev().val(baifen);
	
		$(".xuanxiang li").each(function(index,dom){
			if(index<=$("#flag").val())
				$(dom).addClass("on");
		});
		
		$("p a").first().click(function(){
			
			window.location.href="/paper/beginAnswer?flag="+$("#flag").val()+"&index="+index+"&count="+countb;
		});
		
		
	</script>
</body>
</html>

