 <!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="../css/css.css" type="text/css">
<title>基本信息</title>
<script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../js/Font.js"></script>
<style type="text/css">
	.imgChoose{border:.04rem solid #228DCD;}
	
</style>
</head>
<body class="bg-cc">
	<div class="tit">
		<a href="javascript:history.back(-1)" class="fanhui" title="返回"></a>
		<h3 class="space center title">基本信息</h3>
		<p>
			<a title="点击前面的按钮"></a>
			<a title="点击后面的按钮"></a>
		</p>
	</div>
	<div class="name">
		<div class="pre">
			<a>< 上一题</a>
			<progress value="0" max="100"></progress>
			<span class="baifen">0</span>
		</div>
			
	</div>
	<div class="nev">
			<a > 下一题  <i class="xiti">></i></a>
			
		</div>
	<div style="display: none;" id="allQuestion">
		<div class="bianbian" th:each="question:${list}">
			<input name="type" type="hidden" th:value="${question.type}"/>
			<input type="hidden" name="bt" th:value="${question.img}">
			<input type="hidden" name="category" th:value="${question.category}">
			<h3 align="center" th:text="${question.contenw}"></h3>
			<ul>
				<li th:each="choice:${question.choiceList}">
					<span th:text="${choice.content}"></span>
					
					<span name="choseID" style="display:none;" th:text="${choice.id}"></span>
					<span name="questionID" th:text="${question.id}" style="display:none;"></span>
					<span name="customerPaperId" th:text="${question.paperId}" style="display:none;"></span>
				</li>
			</ul>
		</div>
	</div>
	<input id="count" th:value="${count}" type="hidden">
	<input id="index" th:value="${index}" type="hidden">
	
	<script type="text/javascript">
			var questionArry=[], arry=[];
			  var countb=$("#count").val();
			  var index=$("#index").val();
			  index=parseInt(index)+1;
			  var baifen = Math.floor(index*100/countb);
			  $(".baifen").text(baifen+'%');
			  $(".baifen").prev().val(baifen);
		
		$(".name").append($("#allQuestion div:first-child"));
		if($(".name").find("[name='type']").val()==0)
			$(".nev a").hide();
		else
			$(".nev a").show();
		$("h3.title").text(getFenlei($(".name").find("[name='category']").val()));
		var ur=$(".name").find("[name='bt']").val();
		$(".name h3").css('background','url('+ur+') no-repeat top center');
		$(".nev a").click(function(){
				danxuanduoxuanxuazne();
			});
		
		
		function danxuanduoxuanxuazne(){
			if($(".imgChoose").length==0){
				alert("请选择");
				return;
			}
			$(".imgChoose").each(function(){
				var chooseId=$(this).children("[name='choseID']").text();//选项id
				var questionId=$(this).children("[name='questionID']").text();//问题id
				var customerPaperId=$(this).children("[name='customerPaperId']").text();
				var fenlei=$(".name").find("[name='category']").val();//分类
				
				var obj={'choiceId':chooseId,'questionId':questionId,'customerPaperId':customerPaperId,'fenlei':fenlei};
				arry.push(obj);
			});
			var count=$("#allQuestion").children().length;
			if(count>0){
				questionArry.push($(".name div:last-child").remove());
				var node=$("#allQuestion div:first-child");
				$(".name").append(node);
				if($(".name").find("[name='type']").val()==0)
					$(".nev a").hide();
				else
					$(".nev a").show();
				$("h3.title").text(getFenlei($(".name").find("[name='category']").val()));
				$(".name h3").css('background','url('+node.find("[name='bt']").val()+') no-repeat top center');
				
				 index++;
				 countb=$("#count").val();
				 baifen = Math.floor(index*100/countb);
				 $(".baifen").text(baifen+'%');
				 $(".baifen").prev().val(baifen);
			}
			//触发ajax请求
			else{
				$.ajax({
					type : "POST",
					url : "/paper/saveWenJuan",
					traditional:true,
					data:{objs:JSON.stringify(arry),'index':index},
					success : function(data) {
						if(data.code==0){
						
							window.location.href="/paper/getReportPage";
						}
						else
							alert(data.msg);
					}
				});
			}
		}
		
		$(".pre a").last().click(function(){
			if(questionArry.length>0){
				$("#allQuestion").prepend($(".name div:last-child").remove());
				var node=questionArry.pop();
				$(".name").append(node);
				if($(".name").find("[name='type']").val()==0)
					$(".nev a").hide();
				else
					$(".nev a").show();
				$("h3.title").text(getFenlei($(".name").find("[name='category']").val()));
				$(".name h3").css('background','url('+node.find("[name='bt']").val()+') no-repeat top center');
				index--;
				if($(".name").find("[name='type']").val()==0)
					$(".nev a").hide();
				else
					$(".nev a").show();
			}
		});
		
		$(".name").on('click','li',function(){
			if($(this).parents(".bianbian").children("input").val()==0){//单选
				$(this).addClass("imgChoose").siblings().removeClass("imgChoose");
				setTimeout(function(){danxuanduoxuanxuazne()},1000);
			}
			else{//多选
				$(this).toggleClass("imgChoose");
			}
		});
		
		function getFenlei(fenlei){
			"SHENTI_ZHUANG","SHANSHI_XIGUAN","SHENGHUO_FANGSHI","SHUIMIAN_XIGUAN","YUNDONG_XIGUANG"
			if(fenlei=="SHENTI_ZHUANG")     return  "身体现状";
			if(fenlei=="SHANSHI_XIGUAN")    return "膳食习惯";
			if(fenlei=="SHENGHUO_FANGSHI")  return "生活方式";
			if(fenlei=="SHUIMIAN_XIGUAN")   return "睡眠与压力";
			if(fenlei=="YUNDONG_XIGUANG")   return "运动习惯";
		}
	</script>
</body>
</html>

