<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="../css/css.css" type="text/css">
<title>基本信息</title>
<script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../js/Font.js"></script>
<style type="text/css">

</style>
</head>
<body class="bg-cc">
	<div class="tit">
		<a href="" class="fanhui" title="返回"></a>
		<h3 class="space center">基本信息</h3>
		<p>
			<a href="" title="点击前面的按钮"></a>
			<a href="" title="点击后面的按钮"></a>
		</p>
	</div>
	
	<div class="pre">
		<a href="">&#8195;&#8195;&#8195;&#8195;</a>
		<progress value="50" max="100"></progress>
		<span class="baifen"></span>
	</div>
	<div class="basicMsg">
	
		<div class="box" th:each="question:${list}">
			<span th:text="${question.contenw}"></span>
			<input name="questionId" type="hidden" th:value="${question.id}"/>
		 	<input name="customerPaperId" th:value="${question.paperId}" type="hidden">
			<input name="tiankonganswer" type="text" placeholder=""/>
	   </div>
	
		<!-- <div class="box"><span>姓名</span><input type="text" placeholder=""/></div>
		<div class="box"><span>年龄</span><input type="text" placeholder=""/></div>
		<div class="box"><span>手机</span><input type="text" placeholder=""/></div>-->
		
	</div>
	<div class=" ppyuy" style="display: none;">
			<span>性别</span>
			<p><em>男</em><input type="radio" value="男" name="1"></p>
			<p><em>女</em><input type="radio" value="女" name="1"></p>
		</div> 
	<div class="linshicunfangde" style="display: none;"></div>
	<input id="count" th:value="${count}" type="hidden">
	<input id="index" th:value="${index}" type="hidden">
	<input id="openid" th:value="${openid}" type="hidden">
	<input style="width:75%; margin-top:15%;" class="btn" type="button" value="继续"/>
</body>

<script type="text/javascript">
	var xingming,nianling,shouji,xingbie;
	$(".box").each(function(){
		var text=$(this).children("span").text();
		if(text.indexOf("性别")>=0){
			$(this).children("[name='tiankonganswer']").replaceWith($(".ppyuy").children("p")); 
			xingbie=$(this);
			$(this).remove();
		}
		if(text.indexOf("身高")>=0){
			/* $(this).children("[name='tiankonganswer']").attr('placeholder','请输入身高（厘米）'); */
			$(this).remove();
		}
		if(text.indexOf("体重")>=0){
		/* 	$(this).children("[name='tiankonganswer']").attr('placeholder','请输入体重（公斤）'); */
			$(this).remove();
		}
		if(text.indexOf("年龄")>=0){
			$(this).children("[name='tiankonganswer']").attr('placeholder','请输入年龄');
			nianling=$(this);
			$(this).remove();
		}
			
		if(text.indexOf("手机")>=0){
			$(this).children("[name='tiankonganswer']").attr('placeholder','请输入手机');
			shouji=$(this);
			$(this).remove();
		}
			
		if(text.indexOf("姓名")>=0){
			$(this).children("[name='tiankonganswer']").attr('placeholder','请输入姓名 ');
			xingming=$(this);
			$(this).remove();
		}
	});
	
	$(".linshicunfangde").prepend(xingbie).prepend(nianling);//2020-05-19的一次改版中  客户要求去掉姓名和手机的展示，如果后来还要这个，可以直接prepend即可
	$(".basicMsg").prepend($(".linshicunfangde").html());
	$(".linshicunfangde").html('');

		  var countb=$("#count").val(),index=$("#index").val();
		  index=parseInt(index)+2+$(".box").length;
		  var baifen = Math.floor(index*100/countb);
		  $(".baifen").text(baifen+'%');
		  $(".baifen").prev().val(baifen);
	 
	var myreg=/^[1][3,4,5,7,8,9][0-9]{9}$/;
	var sex="";
	var age="";
	var phone="";
	var username="";
	$(".btn").click(function(){
		var arry=[],flag=false;
		$(".box").each(function(){
			var text=$(this).children("span").text();
			var bitianneirong=$(this).children("[name='tiankonganswer']").val();
			if(bitianneirong==""){
				alert("请输入 "+text);
				flag=true
				return false;
			}
			if((text.indexOf("年龄")>=0 ||text.indexOf("手机")>=0) && isNaN(bitianneirong)){
				alert("请输入 数字");
				flag=true
				return false;
			}
			if(text.indexOf("年龄")>=0 && bitianneirong<18){
				alert("暂不对18周岁以下的未成年人提供营养服务");
				flag=true;
				return false;
			}
			
			if(text.indexOf("手机")>=0 &&  !myreg.test(bitianneirong)){
				alert("请输入正确的手机号码");
				flag=true;
				return false;
			}
			
			if(text.indexOf("性别")>=0 &&  $(":checked").val()==undefined){
				alert("要选择性别");
				flag=true;
				return false;
			}
			
			if(text.indexOf("年龄")>=0) age=bitianneirong;
			else if(text.indexOf("手机")>=0) phone=bitianneirong;
			else if(text.indexOf("姓名")>=0) username=bitianneirong;
		    else if(text.indexOf("性别")>=0) sex=$(this).find(":checked").val(); 
			
			
		
		 /*    var obj={'questionId':questionId,'tiankonganswer':tiankonganswer,'fenlei':'JIBEN_XINXI','customerPaperId':customerPaperId,'contenw':contenw};
			arry.push(obj); */
		});
		
		
		
			
		/* $(".box").each(function(){
			var name=$(this).children("span").text();
			var value=$(this).children("[name='tiankonganswer']").val();
			
			if(name.indexOf("姓名")) username=value;
			else  if(name.indexOf("性别")) sex=value;
			else  if(name.indexOf("年龄")) age=value;
			else  if(name.indexOf("手机")) phone=value;
		}); */
	
		if(!flag){
		 var openid=$("#openid").val();
//			$.ajax({
//				type : "POST",
//				url : "/paper/saveWenJuan",
//				data : {username:username,sex:sex,age:age,phone:phone,openid:openid},// 你的formid
//				async : false,
//				success : function(data) {
//					if(data.code==0)
						
/* 						window.location.href="/paper/saveYourName?flag=1&index="+index+"&count="+countb+"&openid="+openid+"&username="+username+"&sex="+sex+"&age="+age+"&phone="+phone;
 */					    window.location.href="/paper/beginAnswer?flag=1&index="+index+"&count="+countb+"&openid="+openid+"&username="+username+"&sex="+sex+"&age="+age+"&phone="+phone;

						
//						alert(data.msg);
//				}
//			});
		}
	});
	
	
	
	
</script>
</html>

