<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="../css/css.css" type="text/css">
<title>饮食与生活方式问卷</title>
<script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../js/Font.js"></script>
</head>
<body class="bg-cc">
	<div class="yinshi">
		<img src="../images/wenjuan_bg.png;" alt=""/>
		<div class="cl"></div>
		<p class="space">完成问卷大约需要3-4分钟，然后您将获得一份个性化营养健康方案报告。</p>
		<span class="space">*问卷与方案以《中国居民膳食指南》为基础。</span>
	</div>
	<input class="btn" type="button" value="开始答题"/>
	<input type="hidden" id="openid" th:value="${openid}">
	<script type="text/javascript">
		var openid=$("#openid").val();
		$(":button").click(function(){
			window.location.href="/paper/beginAnswer?flag=0&openid="+openid;
		})
	</script>
</body>
</html>
