<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gene.information.dao.ProductDao">

	<select id="get" resultType="com.gene.information.domain.ProductDO">
		select bp.id,bp.code,bp.url,bp.name,bp.description,bp.create_by,bp.create_time,bp.update_by,bp.update_time,bp.remark,bp.del_flag,
		bp.paper_name ,bp.paper_id
		from biz_product bp
		where bp.id = #{value}	
		</select>

	<select id="list" resultType="com.gene.information.domain.ProductDO">
		select bp.id,bp.code,bp.url,bp.name,bp.description,bp.create_by,bp.create_time,bp.update_by,bp.update_time,bp.remark,bp.del_flag,
		bp.paper_name ,bp.paper_id
		from biz_product bp
        <where>  
		  		  <if test="id != null and id != ''"> and bp.id = #{id} </if>
		  		  <if test="code != null and code != ''"> and bp.code = #{code} </if>
		  		  <if test="url != null and url != ''"> and bp.url = #{url} </if>
		  		  <if test="name != null and name != ''"> and bp.name = #{name} </if>
		  		  <if test="description != null and description != ''"> and bp.description = #{description} </if>
		  		  <if test="createBy != null and createBy != ''"> and bp.create_by = #{createBy} </if>
		  		  <if test="createTime != null and createTime != ''"> and bp.create_time = #{createTime} </if>
		  		  <if test="updateBy != null and updateBy != ''"> and bp.update_by = #{updateBy} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and bp.update_time = #{updateTime} </if>
		  		  <if test="remark != null and remark != ''"> and bp.remark = #{remark} </if>
		  		  <if test="delFlag != null and delFlag != ''"> and bp.del_flag = #{delFlag} </if>
		  		  <if test="paperName != null and paperName != ''"> and bp.paper_name = #{paperName} </if>
		  		  <if test="paperId != null and paperId != ''"> and bp.paper_id = #{paperId} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
	
	
 	<select id="count" resultType="int">
		select count(*) from biz_product
		 where del_flag='0'  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="code != null and code != ''"> and code = #{code} </if>
		  		  <if test="url != null and url != ''"> and url = #{url} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="description != null and description != ''"> and description = #{description} </if>
		  		  <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
		  		  <if test="paperName != null and paperName != ''"> and bp.paper_name = #{paperName} </if>
		  		  <if test="paperId != null and paperId != ''"> and bp.paper_id = #{paperId} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.gene.information.domain.ProductDO" useGeneratedKeys="true" keyProperty="id">
		insert into biz_product
		(
			`code`, 
			`url`, 
			`name`, 
			`description`, 
			`create_by`, 
			`create_time`, 
			`update_by`, 
			`update_time`, 
			`remark`, 
			`del_flag`,
			paper_name ,
			paper_id
		)
		values
		(
			#{code}, 
			#{url}, 
			#{name}, 
			#{description}, 
			#{createBy}, 
			#{createTime}, 
			#{updateBy}, 
			#{updateTime}, 
			#{remark}, 
			#{delFlag},
			#{paperName},
			#{paperId}
		)
	</insert>
	 
	<update id="update" parameterType="com.gene.information.domain.ProductDO">
		update biz_product 
		<set>
			<if test="code != null">`code` = #{code}, </if>
			<if test="url != null">`url` = #{url}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="description != null">`description` = #{description}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="remark != null">`remark` = #{remark}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag},</if>
			<if test="paperName != null">`paper_name` = #{paperName},</if>
			<if test="paperId != null">`paper_id` = #{paperId}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from biz_product where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from biz_product where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<select id="paperList" resultType="com.gene.information.domain.PaperEntity">
		select `id`,
		  `code` ,
		  `name` ,
		  `description` ,
		  `status` ,
		  `create_by` ,
		  `create_time`,
		  `update_by` ,
		  `update_time` ,
		  `remark`,
		  `del_flag`
		from qu_paper
	</select>

</mapper>