@charset "utf-8";
/* 禁用iPhone中Safari的字号自动调整 */
html {-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
/* 去除iPhone中默认的input样式  清除苹果浏览器的圆角表单*/
input[type="submit"],
input[type="reset"],
input[type="button"],
input{-webkit-appearance:none; resize: none;outline:none;line-height:normal;}
/* 图片自适应 */
img {
max-width: 100%;
height: auto;
width:auto\9; /* ie8 */
-ms-interpolation-mode:bicubic;/*为了照顾ie图片缩放失真*/
}
/* 初始化 */
*{margin:0; padding:0; border:none;box-sizing:border-box;}
body{max-width:1024px;margin:0 auto;background-color:#fff;color:#231815;font-size: .28rem;font-family: Microsoft YaHei,Tahoma,Arial,sans-serif;}
em,i{font-style: normal;}
a{text-decoration:none; color:#231815;}
a:hover{ text-decoration:none;}
ul,ol,li{list-style:none;}
h1, h2, h3, h4, h5, h6{ font-size:100%;font-weight: normal;}
.cl{clear: both;}
.fl{float:left;}
.fr{float:right;}
.space{letter-spacing:.03rem;}
.center{text-align: center;}
.btn{width: 6rem;height: 1rem;color:#fff;background:#228DCD;border-radius:.5rem;border:.04rem solid #321A3A;font-size: .48rem;letter-spacing:.2rem;margin:.4rem auto;display: block;}

/*==============================问卷调查===================================*/
.bg-cc{background:#f6f6f8;}
.logo{width: 5.24rem;display: block;margin:1rem auto .6rem;}
.goon .p-more{font-size: .29rem;line-height:.63rem;margin-bottom:.7rem;}
.goon ul{overflow: hidden;padding:0 6%;}
.goon li{width:100%;border-bottom:1px solid #221814;overflow: hidden;padding-bottom:.3rem;margin-bottom:.3rem;-webkit-background-size:.47rem .37rem;background-size:.47rem .37rem;}
.goon li .fr{width: 2.2rem;height: 2.2rem;border-radius:50%;}
.goon li .fl{width: 3.3rem;height: 1.5rem;margin-top:.35rem;}
.goon li.on .fr{border:.03rem solid #FF0000;}
.goon a{font-size: .36rem;text-decoration:underline;background:url(../images/bL.png) no-repeat bottom center;-webkit-background-size:.94rem .12rem;background-size:.94rem .12rem;}

/* 饮 食*/
.yinshi{position: relative;}
.yinshi img{float: right;margin-bottom: .8rem;}
.yinshi p{font-size: .36rem;line-height: .58rem;padding:0 1rem;}
.yinshi p i{display: inline-block;background:url(../images/tiao.png) no-repeat bottom;-webkit-background-size: contain;background-size: contain;} 
/* .jyiBox .name{width:58%;position: absolute;left:.65rem;top:1.8rem;}
.jyiBox .name span{font-size: .34rem;display: block;font-weight: bold;margin-bottom:.1rem;}
.jyiBox .yaoM{width:1.8rem;position: absolute;top:.3rem;right:.1rem;} */
.yinshi span{font-size: .28rem;line-height:.41rem;padding:.25rem 1rem;display: block;}
/*基 本 信 息 */
.tit{margin:.2rem .3rem .5rem;height: .58rem;line-height:.58rem;overflow: hidden;}
.tit .fanhui{float: left;width: .17rem;height: .58rem;background:url("../images/fanhui.png") no-repeat center;-webkit-background-size: contain;background-size: contain;}
.tit h3{float: left;font-size: .36rem;width: 5.1rem;text-indent:.8rem;}
.tit p{float: right;width: 1.61rem;height: .58rem;background:url(../images/mune.png);-webkit-background-size: contain;background-size: contain;}
.tit p a{float: left;width: 50%;height:100%;}
.pre{font-size: .24rem;overflow: hidden;margin:0 7% .9rem;}
.pre a{float: left;}
.nev{float: right; margin-right: .2rem;top: .9rem;font-size: .25rem;}
.xiti{font-weight: bolder;font-size: .30rem;font-size: .39rem;}
progress{
	float: left;height: .35rem;margin-left:.1rem;width:70%;
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    /* Firefox */
    border: none;
    background: #d9dbdd;
    border-radius:.3rem;
  } 
 progress::-webkit-progress-bar {
    background: #d9dbdd;
    border-radius: .3rem;
  } 
progress::-webkit-progress-value {
    background-color: #e94a65;
    border-radius: .3rem;
	border:.02rem solid #000;
  } 
progress::-moz-progress-bar {
    background-color: #15afd8;
    border-radius: .3rem;
  }
.pre span{float:right;}
.name p{font-size: .46rem;margin-bottom: 1.24rem;}
.name .yes{background:url(../images/yes.png) no-repeat 95% .15rem;-webkit-background-size:.74rem .74rem;background-size:.74rem .74rem;}
.name .yes input{width:60%;height: 1.04rem;border-radius:.5rem;font-size: .28rem;border:.04rem solid #231815;background: none;text-align: center;}

.HI{padding:1.3rem .96rem;}
.HI h1{color:#221814;font-size:1.55rem;margin-bottom: .95rem;}
.HI h1 span{font-size: .6rem;display: block;}
.HI p{font-size: .36rem;line-height:.62rem;background:url(../images/tiao.png) no-repeat 1.5rem .4rem;-webkit-background-size:3.2rem .2rem;background-size:3.2rem .2rem;}
.miqi{position: absolute;right: 0;bottom: 0;width: 4.51rem;height: 3.3rem;}

.xuanxiang{font-size: .42rem;line-height: .62rem;margin-top:1.5rem;}
.xuanxiang li{background:url(../images/bai.png) no-repeat 2rem center;-webkit-background-size:.61rem .61rem;background-size:.61rem .61rem;margin-bottom:.5rem;}
.xuanxiang li.on{background-image:url(../images/yes.png);}
.xuanxiang li.pot{background-image:url(../images/pot.png);}
.car{width: 4.49rem;height: 3.2rem;}
.sex h2{margin-bottom:1.2rem;font-size: .46rem;}
.sex input{font-size: .46rem;width: 2.2rem;height: 2.2rem;background:#fff;border-radius:50%;margin:0 .2rem;}
.sex input:hover{border:.04rem solid #15afd8;}

.beizhu{color:#717071;font-size:.26rem;margin-top:.3rem;}
.bianbian h3{font-size: .4rem;padding:2.1rem .3rem 0;margin-bottom: .5rem;background:url(../images/bianbian.png) no-repeat top center;-webkit-background-size:1.4rem 1.6rem;background-size:1.4rem 1.6rem;}
.bianbian li{width: 5.2rem;height: .85rem;font-size: .32rem;text-align: center;background:#fff;line-height:.85rem;border-radius:.5rem;margin:0 auto .22rem;}

/*==============================检测报告===============================*/
.care{padding:8% 0 5%;}
.care .txtImg{display: block;width: 4.46rem;margin:0 auto;}
.care .logoImg{margin:0 auto.2rem;}
.careBox{padding:0 .3rem;}
.careBox .box{position:relative;margin:0 auto .3rem;width: 6.88rem;height: 4rem;}
.careBox .box input{width: 2.6rem;height: .65rem;position: absolute;top:3.1rem;left:.63rem;background: none;font-size: .36rem;}
.careBox .box input.blue{left:3.6rem;}

.hello{background:#f6f5f7 url(../images/hello.png) no-repeat top right;-webkit-background-size:6rem 5.8rem;background-size:6rem 5.8rem;}
.hello h3{font-size: .6rem;margin-top: 2.6rem;margin-left: 1.4rem;}
.hello .box{width:90%;margin:.4rem auto 0;border:.02rem solid #321b3b;padding:.35rem .45rem;background: #f6f5f8;}
.hello .box p{font-size: .36rem;text-indent:.7rem;}
.hello .box p span{background:url(../images/tiao.png) no-repeat bottom;}
.hello .box p span.sp1{-webkit-background-size:.88rem .2rem;background-size:.88rem .2rem;}
.hello .box p span.sp2{-webkit-background-size:2.9rem .2rem;background-size:2.9rem .2rem;}

.Healthy{padding:.3rem;}
.Healthy .boxes{background: #fff;border-radius:.3rem;margin-bottom:5%;padding:.35rem .2rem;position: relative;}
.Healthy .boxes p{font-size: .42rem;}
.Healthy .boxes ul{margin:3% 0;}
.Healthy .boxes .xianZ li{display:inline-block;font-size: .32rem;margin:1% 3%;}
.Healthy .boxes .xianZ li.on{background:url(../images/bL.png) no-repeat bottom;-webkit-background-size:100% .12rem;background-size:100% .12rem;}
.Healthy .boxes a{width: 1.9rem;line-height: .5rem;background: #248dce;color:#fff;font-size: .26rem;border-radius:.5rem;border:.03rem solid #321b3b;display: inline-block;margin-top: 3%;}
.Healthy .boxes span{font-size: .32rem;display: block;margin:3% 0;}
.Healthy .boxes span em{background:url(../images/bL.png) no-repeat bottom;-webkit-background-size:contain;background-size:contain;}
.Healthy .boxes h3{font-size: .46rem;text-align: center;margin-bottom: .25rem;}
.Healthy .boxes .zhidao{overflow: hidden;}
.Healthy .boxes .zhidao li{float: left;width: 50%;text-align: center;}
.Healthy .boxes .zhidao li img{width: .93rem;height: .78rem;display: block;margin:0 auto .25rem;}
.Healthy .boxes .zhidao li input{font-size: .26rem;background: none;border-bottom:1px solid #221814;}
/*======================减肥报告=============================*/
.biaoZhun,.txXZ{font-size:.42rem;color:#fff;border:.03rem solid #321b3b;border-radius:.5rem;background:#e94b65;padding:0 .45rem .06rem;margin-left:.15rem;}
.tiXing{width:1.28rem;height:2.3rem;background:url(../images/tixing3.png) no-repeat center;-webkit-background-size: contain;background-size: contain;position: absolute;right:.5rem;top:.2rem;}/*默认标准*/
.pShou{background-image:url(../images/tixing1.png);}/*偏瘦*/
.tzPG{background-image:url(../images/tixing2.png);}/*体脂偏高*/
.tzFP{background-image:url(../images/tixing4.png);}/*体脂肥胖*/
.hhFP{background-image:url(../images/tixing5.png);}/*混合肥胖*/
.jirou{background-image:url(../images/tixing6.png);}/*肌肉型*/
.txXZ{width: 6.3rem;padding: 0;margin:.5rem auto;line-height:.84rem;}
.SStxt p{font-size: .28rem;margin-bottom:.12rem;}
.SStxt p em{font-size: .35rem;color:#228DCD;}
.SStxt img{width: 1.28rem;height: 2.3rem;margin:.2rem 0;}
.fenbuTu{width: 6.2rem;height: 9.6rem;margin:0 auto;position: relative;}
.fenbuTu span{width: .28rem;height: .28rem;background:url(../images/yuan.png) no-repeat;-webkit-background-size: contain;background-size: contain;position: absolute;z-index:3;}
.fenbuTu span.jiedian1{top:3.42rem;left:.52rem;}
.fenbuTu span.jiedian2{top:6.14rem;left:.52rem;}
.fenbuTu span.jiedian3{bottom:.37rem;left:2.04rem;}
.fenbuTu span.jiedian4{bottom:.37rem;left:4.04rem;}
.fenbuTu .fenbuRed{position: absolute;width: 1.52rem;height: 8.26rem;left: .66rem;top:.82rem;background:url(../images/fenbu1.png) no-repeat;-webkit-background-size: contain;background-size: contain;}
.fenbuTu div.fenbu2{width:2.02rem;height:5.46rem;left:2.18rem;top:.82rem;background-image:url(../images/fenbu2.png);}
.fenbuTu div.fenbu3{width:2.02rem;height:2.81rem;left:2.18rem;top:6.28rem;background-image:url(../images/fenbu3.png);}
.fenbuTu div.fenbu4{width:1.79rem;height:2.73rem;left:4.21rem;top:.82rem;background-image:url(../images/fenbu4.png);}
.fenbuTu div.fenbu5{width:1.79rem;height:2.73rem;left:4.21rem;top:3.54rem;background-image:url(../images/fenbu5.png);}
.fenbuTu div.fenbu6{width:1.79rem;height:2.8rem;left:4.21rem;top:6.29rem;background-image:url(../images/fenbu6.png);}
.ssCPin{font-size: .36rem;overflow: hidden;padding:.25rem 0;}
.ssCPin dl{float: left;width:55%}
.ssCPin dl dt{border-bottom:1px solid #221814;padding-bottom:.1rem;font-weight: bold;}
.ssCPin dd{font-size: .28rem;margin-top: .1rem;}
.ssCPin img{float: right;width:2rem;height:2rem;}

/*肠道现状*/
.cdxzBox{margin-bottom:1.5rem;}
.cdxzBox .ztai{overflow: hidden;font-size: .46rem;}
.cdxzBox .ztai img{width: 2.2rem;height: 2.2rem;}
.cdxzBox .ztai ul{margin:.3rem auto .6rem;}
.sideMenu{}
.sideMenu .list_dt{padding:.2rem .15rem;position: relative;overflow: hidden;line-height: .87rem;} 
.sideMenu .list_dt span.fl{font-weight: bold;width:100%;}
.sideMenu .list_dt span.fl img{width:.94rem;height: .87rem;vertical-align: middle; }
.sideMenu .list_dt span.fr{padding: .05rem .15rem;border: .04rem solid #321b3b;border-radius: .5rem;background: #e94a65;color: #fff;margin-top: .1rem;position: absolute;right: .1rem;line-height: normal;}

.sideMenu .list_dt span.bgn{background: none;color:#221814;}
/*.list_dt_icon{position: absolute;right:.2rem;top:0;width:.36rem; height:1.15rem;background:url(../images/sanjiao.png) no-repeat center;-webkit-background-size: contain;background-size: contain;}*/
#open{border: none;}
#open .list_dt_icon {transform:rotate(180deg);}
.sideMenu .list_dd{font-size:.28rem;border-bottom:.02rem solid #321b3b;}
table{width: 100%;}
table td{padding:.2rem .18rem;}
table tr:nth-child(odd){background:#dcdddd;}
table tr:nth-child(even){background:#eeefef;}
.rLine{border-right:.03rem dotted #321b3b;font-weight: bold;}
.jbs img{width: 2.2rem;height: 2.2rem;border:.04rem solid #231815;border-radius:50%;margin:.8rem 0 .2rem;}
.jbs .p2{font-size: .46rem;}
.jbs .p3{font-size: .5rem;color:#248dce;}
.jbs .p3 span{font-size: .65rem;}
.jbs .p3 span.yyy{font-size:.36rem;}
.zhanbi,
.shanshi{font-size: .4rem;color:#fff;line-height: .7rem;border:.04rem solid #231815;border-radius:.3rem;margin:.8rem 0 .15rem;background: #e94a65;}
.jbs .zhanbi-lt{background: #fff;border:.03rem solid #231815;border-radius:.3rem;overflow: hidden;padding:.15rem 0;}
.jbs .zhanbi-lt li{float: left;width: 25%;background:url(../images/bao-js.png) no-repeat center top;-webkit-background-size:.82rem .77rem;background-size:.82rem .77rem;padding-top:.9rem;font-size: .24rem;}
.jbs .zhanbi-lt li em{font-size: .4rem;}
.jbs .zhanbi-lt li:nth-child(2){background-image: url(../images/naoling.png);}
.jbs .zhanbi-lt li:nth-child(3){background-image: url(../images/bao-sm.png);}
.jbs .zhanbi-lt li:nth-child(4){background-image: url(../images/bao-yd.png);}
.jbs .txt{padding:.15rem 0;line-height: .44rem;}
/*膳食习惯*/
.shanshi{background: #248dce;}
.bgn_bg{background-image: url(../images/sanjiao-baichi.png);}
.list_dt .fl span{width: 50%;display: inline-block;line-height:normal;vertical-align:middle;}


.yuanze{line-height: .44rem;margin:.3rem 0;}
.jianyi{font-size: .4rem;margin:1rem 0 .35rem;}
.jianyi span{background:url(../images/redBar.png) no-repeat bottom;-webkit-background-size:100% .2rem;background-size:100% .2rem;}

.jyiBox{background: #fff;border:.04rem solid #231815;border-radius:.1rem;width: 100%;height: 5rem;position: relative;margin-bottom:.36rem;}
.jyiBox .jsBg{width: 3.37rem;height: 2.25rem;position: absolute;left:-5%;top: 0;}
/* .jyiBox .name{width: 3.65rem;position: absolute;left:.65rem;top:1.8rem;}
.jyiBox .name span{font-size: .36rem;display: block;font-weight: bold;}
.jyiBox .yaoM{width: 2rem;height: 3.4rem;position: absolute;top:.3rem;right:.1rem;} */
.jyiBox .name{width:58%;position: absolute;left:.65rem;top:1.8rem;}
.jyiBox .name span{font-size: .35rem;display: block;font-weight: bold;margin-bottom:.1rem;}
.jyiBox .yaoM{width:1.8rem;position: absolute;top:.3rem;right:.1rem;}




.jyiBox input{background: #248dce;border-radius:.5rem;font-size: .36rem;height: .65rem;color:#fff;width: 2.8rem;border:.03rem solid #231815;position: absolute;bottom:.2rem;left: 50%;margin-left:-1.4rem;}
.jieshao{text-align: center;}
.ulBox{margin-bottom:.25rem;}
.ulBox img{width:6.8rem; display:block; margin:0 auto;}

/*固定底部*/
.fotNav{width: 100%;position: fixed;bottom: 0;left: 0;height: 1.3rem;background:#fff;font-size: .24rem;padding-top:.2rem;z-index:10;}
.fotNav li{float: left;width: 25%;background:url(../images/icon-pic1.png) no-repeat top center;-webkit-background-size:.6rem .5rem;background-size:.6rem .5rem;padding-top:.66rem;}
.fotNav li:nth-child(2){background-image: url(../images/icon-pic2.png);}
.fotNav li:nth-child(3){background-image: url(../images/icon-pic3.png);}
.fotNav li:nth-child(4){background-image: url(../images/icon-pic4.png);}

/*=========新的基本信息20191031============*/
.basicMsg{width: 75%;margin:0 auto;font-size: .36rem;line-height:1rem;}
.basicMsg span{font-weight: bold;width: 20%;display:inline-block;margin-left:6%;}
.basicMsg input[type="text"]{border-radius:.5rem;font-size: .36rem;height:1rem;width:66%;border:.03rem solid #231815;text-align: center;background: none;}
.basicMsg .box{margin-bottom:.3rem;}
.basicMsg .box p{display:inline-block;position:relative;width: 1.2rem;height: 1.2rem;line-height: 1.2rem;text-align: center;vertical-align: middle;margin:0 4%;}
.basicMsg input[type="radio"]{position: absolute;left: 0;top: 0;width: 100%;height: 100%;border-radius:50%;}
.basicMsg .box p em{position: absolute;left: 0;top: 0;width: 100%;height: 100%;border-radius:50%;background: #fff;}
.basicMsg input:checked{border:.03rem solid #FF0000;}

/*=========新增话术20200317============*/
.huashu{background: #fff;}
/*=========新增历史记录20200320============*/
.History{margin-top:1rem;}
.History li{padding:0 .3rem;line-height:1rem;font-size:.3rem;margin-bottom:.02rem;background:#fff url(../images/lishi.png) no-repeat 95% center;-webkit-background-size:.17rem .3rem;background-size:.17rem .3rem;}
.History li em{margin-left:.2rem;}
.moreSS{position: fixed;top:0;left:0;height:.8rem;width: 100%;}
.moreSS input{font-size:.28rem;height: .8rem;float: left;}
.moreSS .SStxt{width: 80%;background: #fff;padding:0 .1rem;border:1px solid #248dce;}
.moreSS .SSbtn{width: 20%;background: #248dce;color:#fff;}


